﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GraveTower</title>
    <meta name="keywords" content="">
    <link rel="stylesheet" href="../assets/default/c/module/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/default/c/layout.css">
    <link rel="stylesheet" href="../assets/default/c/style.css">
    <link rel="stylesheet" href="../assets/default/c/page/index.css">
    <script src="~/assets/default/j/jquery-slim.min.js"></script>
    <script src="~/assets/default/j/bootstrap.min.js"></script>
    <script src="~/assets/default/j/popper.min.js"></script>
</head>

<body>
    <!--============================== content-main start ========================-->
    <div id="content-wrapper">
        <a href="@Url.Action("floor_main","Home")">
            <div id="content-main">
                <div class="title">
                    <h2><img src="~/assets/default/i/index-title01.png" alt="天祥寶塔禪寺"></h2>
                    <h3><img src="~/assets/default/i/index-title02.png" alt="永久牌位查詢"></h3>
                    <div class="login">請點擊螢幕任一處進入</div>
                </div>
            </div>
        </a>
    </div>
    <!--============================== content-main close ========================-->


</html>
