@font-face
    font-family: Akrobat-Regular
    src: url('fonts/Akrobat-Regular.otf')

html, body
    background-color: #f8f8f8
    color: #000
    font-family: "Akrobat-Regular", '微軟正黑體', 'sans-serif'
    font-size: 16px

.clear
    clear: both

.clearfix
    display: inline-block

.clearfix:after
    display: block
    visibility: hidden
    clear: both
    height: 0
    font-size: 0
    content: "."

*html .clearfix
    height: 1%

*:focus
    outline: none!important

.clearfix
    display: block

h2
    display: none

p
    margin-bottom: 0

#content-wrapper
    width: 1920px

#content-main
    float: left
    width: 1455px
    height: 1080px
    padding-top: 60px
    background-color: #e8e7e6
    text-align: center
    .map
      width: 1420px
      height: 840px
      background-color: #e8e7e6
    h3
        margin-top: 50px
        font-weight: 600
        font-size: 50px
        color: #21030e

#content-sidebar
    float: left
    width: 465px
    background-color: #21030e
    .nav
        .nav-item
            position: relative
            width: 50%
            margin-left: 0
            background-color: #21030e
            .nav-link
                height: 98px
                border-radius: 0
                background-color: transparent
                color: #908186
                font-weight: 600
                font-size: 40px
                line-height: 80px
                text-indent: 55px
            &.active
                .nav-link
                    background-color: #cb9c72
                    color: #fff
                    &:after
                        content: ' '
                        position: absolute
                        bottom: -15px
                        left: calc(50% - 24.35px)
                        z-index: 9
                        width: 34.5px
                        height: 34.5px
                        border-radius: 5px
                        background-color: #cb9c72
                        transform: rotateZ(45deg)
            #floor01-tab
                &:before
                    content: ' '
                    position: absolute
                    top: 25px
                    left: 18px
                    width: 45px
                    height: 45px
                    background: url(../i/one-off.svg)
                    background-size: 45px
        .nav-item
            &.active
                #floor01-tab
                    &:before
                        background: url(../i/one-on.svg)
            #floor02-tab
                &:before
                    content: ' '
                    position: absolute
                    top: 25px
                    left: 18px
                    width: 45px
                    height: 45px
                    background: url(../i/two-off.svg)
                    background-size: 45px
        .nav-item
            &.active
                #floor02-tab
                    &:before
                        background: url(../i/two-on.svg)

#content-sidebar
    .tab-content
        .number-input
            height: 195px
            padding: 38px 45px
            background-color: #5c1f3d
            color: #fff
            font-weight: 600
            font-size: 30px
            text-align: left
            input
                width: 100%
                height: 76px
                padding: 11px 17px
                border-radius: 10px
                background-color: #ffffff
                border: solid 5px #48132d
                color: #000
                font-weight: 600
                font-size: 40px
        .keyboard
            overflow: hidden
            padding: 35px 56px 60px
            .btn-number
                float: left
                width: 111px
                height: 111px
                margin-right: 10px
                margin-bottom: 10px
                border: 0
                border-radius: 20px
                background-color: #3f162a
                color: #fff
                font-weight: 600
                font-size: 45px
                line-height: 111px
                cursor: pointer
                &:nth-of-type(3n)
                    margin-right: 0
                &.backspace
                    background-color: #70254a
                    line-height: 0
                    text-indent: -5px
            .btn-enter
                width: 359px
                height: 76px
                border: 0
                border-radius: 38px
                color: #fff
                font-weight: 600
                font-size: 30px
                line-height: 76px
                cursor: pointer
                &.btn-submit
                    margin: 26px 0 30px
                    background-color: #70254a
                &.btn-exit
                    border: solid 2px #ffffff
                    background-color: transparent

#content-main
    position: relative
    .zoom-tool
        position: absolute
        top: 55px
        right: 55px
        z-index: 111
        width: 143px
        height: 70px
        .zoom
            float: left
            width: 71.5px
            height: 70px
            cursor: pointer
            &.in
                background: url(../i/zoom-in-on.png) center center no-repeat
                background-size: 100%
                &.active
                    background: url(../i/zoom-in-off.png) center center no-repeat
                    background-size: 100%
            &.out
                background: url(../i/zoom-out-off.png) center center no-repeat
                background-size: 100%
                &.active
                    background: url(../i/zoom-out-on.png) center center no-repeat
                    background-size: 100%
    .map-article
        overflow: hidden
        width: 1420px
        height: 840px
        margin: 0 auto
        .map-frame
            overflow: scroll
            width: 1725px
            height: 880px
    .entrance
        position: absolute
        bottom: 30px
        z-index: 99
        font-weight: 600
        font-size: 20px
        &:after
            content: '▲'
            position: absolute
            bottom: 23px
            left: 18px
            display: block
            color: #000
            font-size: 24px
        &.right
            right: 433px
        &.left
            left: 445px
    .stairs
        position: absolute
        z-index: 99
        width: 33px
        height: 33px
        background: url(../i/stairs.png) center center no-repeat
        background-size: 100%
        &:after
            content: '►'
            position: absolute
            display: block
            color: #000
            font-size: 24px
            line-height: 33px
    .stairs
        &.right
            top: 389px
            right: 653px
            &:after
                left: 32px
                line-height: 40px
        &.left
            top: 390px
            left: 653px
            &:after
                right: 33px
                line-height: 30px
                transform: rotateZ(180deg)
    .fixed-now
        position: absolute
        z-index: 99
        width: 40px
        height: 40px
        background: url(../i/fixed-now.png) center center no-repeat
        background-size: 100%
        &:after
            content: '現在位置'
            position: absolute
            left: 40px
            display: block
            width: 120px
            font-weight: 600
            color: #b31532
            font-size: 30px
            line-height: 40px
        &.one
            top: 687px
            right: 580px
        &.two
            top: 510px
            right: 590px

    .map
        position: relative
        transform: scale(0.97)
        .stage
            position: absolute
            width: 100%
            height: 100%
            transform-style: preserve-3d
            transform: rotateX(-45deg) translateZ(70px)
            -webkit-perspective: 2880px
        .map-area
            position: absolute
        .box
            position: absolute
            bottom: 0
            left: 0
            transform-style: preserve-3d
            &:nth-last-child(1)
                .top
                    border: 0
            div
                position: absolute
            .front
                width: 48px
                height: 30px
                background-color: #9fb0a3
            .right, .left
                width: 113px
                height: 30px
                background-color: #b0c2b3
            .top
                width: 48px
                height: 113px
                border: 0 solid rgba(255, 255, 255, .5)
                border-right-width: 2px
                background-color: #c0d4c3
                font-size: 28px
                text-align: center
                line-height: 113px
                transform: rotate3d(1 ,0 ,0, -90deg) translateZ(-56px) rotateX(180deg)
            .left
                transform: rotate3d(0 ,1 ,0, 90deg) translateZ(-56px)
            .right
                transform: rotate3d(0 ,1 ,0, -90deg) translateZ(9px)
            .front
                transform: rotate3d(1 ,0 ,0, 180deg) translateZ(-57px)
            &.box-h
                position: absolute
                bottom: 0
                left: 0
                transform-style: preserve-3d
                &:nth-last-child(1)
                    .top
                        border: 0
                div
                    position: absolute
                .front
                    width: 83px
                    height: 30px
                    background-color: #9fb0a3
                .right, .left
                    width: 57px
                    height: 30px
                    background-color: #b0c2b3
                .top
                    width: 83px
                    height: 57px
                    border: 0 solid rgba(255, 255, 255, .5)
                    border-top-width: 2px
                    background-color: #c0d4c3
                    font-size: 28px
                    text-align: center
                    line-height: 48px
                    transform: rotate3d(1 ,0 ,0, -90deg) rotateX(180deg) translateZ(29px)
                .left
                    transform: rotate3d(0 ,1 ,0, 90deg) translateZ(-28px)
                .right
                    transform: rotate3d(0 ,1 ,0, -90deg) translateZ(-54px)
                .front
                    transform: rotate3d(1 ,0 ,0, 180deg) translateZ(-28px)
            &.box-altar
                position: absolute
                bottom: 0
                left: 0
                transform-style: preserve-3d
                &:nth-last-child(1)
                    .top
                        border: 0
                div
                    position: absolute
                .front
                    width: 149px
                    height: 30px
                    background-color: #93835e
                .right, .left
                    width: 113px
                    height: 30px
                    background-color: #a8976e
                .top
                    width: 149px
                    height: 113px
                    border: 0 solid rgba(255, 255, 255, .5)
                    border-top-width: 2px
                    background-color: #c0ad7e
                    font-weight: 600
                    font-size: 38px
                    text-align: center
                    line-height: 113px
                    transform: rotate3d(1 ,0 ,0, -90deg) translateZ(-56px) rotateX(180deg)
                    span
                        display: block
                        transform: scaleY(1.5)
                .left
                    transform: rotate3d(0 ,1 ,0, 90deg) translateZ(-56px)
                .right
                    transform: rotate3d(0 ,1 ,0, -90deg) translateZ(-92px)
                .front
                    transform: rotate3d(1 ,0 ,0, 180deg) translateZ(-57px)
        .area-tag
            position: absolute
            bottom: 0
            left: 0
            transform-style: preserve-3d
            .top
                width: 48px
                height: 45px
                background-color: #c0d4c3
                font-weight: 600
                font-size: 24px
                text-align: center
                line-height: 45px
                transform: rotate3d(1 ,0 ,0, -90deg) translateZ(0px) rotateX(180deg)

    .map-two
        .area-a
            left: 1023px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(5px)
            .area-tag
                transform: translateZ(-65px) translateX(111px)
                .top
                    background-color: #ea9a9b
            .box
                .top
                    background-color: #ea9a9b
                .right, .left
                    background-color: #d0818b
                .front
                    background-color: #e4818b
                &.box-8
                    transform: translateX(0px)
                &.box-7
                    transform: translateX(48px)
                &.box-6
                    transform: translateX(96px)
                &.box-5
                    transform: translateX(144px)
                &.box-4
                    transform: translateX(192px)
                &.box-3
                    transform: translateX(240px)
                &.box-2
                    transform: translateX(288px)
                &.box-1
                    transform: translateX(336px)
        .area-b
            left: 545px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(5px)
            .area-tag
                transform: translateZ(-65px) translateX(144px)
                .top
                    background-color: #fabe00
            .box
                .top
                    background-color: #fabe00
                .front
                    background-color: #eb9e00
                &.box-7
                    transform: translateX(0px)
                &.box-6
                    transform: translateX(48px)
                &.box-5
                    transform: translateX(96px)
                &.box-4
                    transform: translateX(144px)
                &.box-3
                    transform: translateX(192px)
                &.box-2
                    transform: translateX(240px)
                &.box-1
                    transform: translateX(288px)
        .area-c
            left: 17px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(5px)
            .area-tag
                transform: translateZ(-65px) translateX(191px)
                .top
                    background-color: #c0d4c3
            .box
                &.box-8
                    transform: translateX(0px)
                &.box-7
                    transform: translateX(48px)
                &.box-6
                    transform: translateX(96px)
                &.box-5
                    transform: translateX(144px)
                &.box-4
                    transform: translateX(192px)
                &.box-3
                    transform: translateX(240px)
                &.box-2
                    transform: translateX(288px)
                &.box-1
                    transform: translateX(336px)
        .area-d
            left: 17px
            bottom: -1px
            transform-style: preserve-3d
            transform: translateZ(-80px)
            .area-tag
                transform: translateZ(-319px) translateX(-50px)
                .top
                    background-color: #cace5d
            .box
                .front
                    background-color: #a0a449
                .right, .left
                    background-color: #b2b752
                .top
                    background-color: #cace5d
                &.box-1
                    z-index: 16
                &.box-2
                    z-index: 15
                    transform: translateZ(-57px)
                &.box-3
                    z-index: 14
                    transform: translateZ(-114px)
                &.box-4
                    z-index: 13
                    transform: translateZ(-171px)
                &.box-5
                    z-index: 12
                    transform: translateZ(-228px)
                &.box-6
                    z-index: 11
                    transform: translateZ(-285px)
                &.box-7
                    z-index: 10
                    transform: translateZ(-342px)
                &.box-8
                    z-index: 9
                    transform: translateZ(-399px)
                &.box-9
                    z-index: 8
                    transform: translateZ(-456px)
                &.box-10
                    z-index: 7
                    transform: translateZ(-513px)
                &.box-11
                    z-index: 6
                    transform: translateZ(-570px)
                &.box-12
                    z-index: 5
                    transform: translateZ(-627px)
                &.box-13
                    z-index: 4
                    transform: translateZ(-684px)
                &.box-14
                    z-index: 3
                    transform: translateZ(-741px)
                &.box-15
                    z-index: 2
                    transform: translateZ(-798px)

        .area-e
            left: 1324px
            bottom: -1px
            transform-style: preserve-3d
            transform: translateZ(-80px)
            .area-tag
                transform: translateZ(-306px) translateX(87px)
                .top
                    background-color: #a9d1ec
            .box
                .front
                    background-color: #90b3ca
                .right, .left
                    background-color: #90b3ca
                .top
                    background-color: #a9d1ec
                &.box-15
                    z-index: 16
                &.box-14
                    z-index: 15
                    transform: translateZ(-57px)
                &.box-13
                    z-index: 14
                    transform: translateZ(-114px)
                &.box-12
                    z-index: 13
                    transform: translateZ(-171px)
                &.box-11
                    z-index: 12
                    transform: translateZ(-228px)
                &.box-10
                    z-index: 11
                    transform: translateZ(-285px)
                &.box-9
                    z-index: 10
                    transform: translateZ(-342px)
                &.box-8
                    z-index: 9
                    transform: translateZ(-399px)
                &.box-7
                    z-index: 8
                    transform: translateZ(-456px)
                &.box-6
                    z-index: 7
                    transform: translateZ(-513px)
                &.box-5
                    z-index: 6
                    transform: translateZ(-570px)
                &.box-4
                    z-index: 5
                    transform: translateZ(-627px)
                &.box-3
                    z-index: 4
                    transform: translateZ(-684px)
                &.box-2
                    z-index: 3
                    transform: translateZ(-741px)
                &.box-1
                    z-index: 2
                    transform: translateZ(-798px)
        .area-e2
            left: 1324px
            bottom: 0
            transform-style: preserve-3d
            transform: translateZ(-963px)
            .box
                .top
                    background-color: #aaabab
                .right, .left
                    background-color: #9fa0a0
                .front
                    background-color: #939496
                &.box-1
                    transform: translateX(-109px)
                &.box-2
                    transform: translateX(-61px)
                &.box-3
                    transform: translateX(-13px)
                &.box-4
                    transform: translateX(35px)
        .area-d2
            left: 17px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(-963px)
            .box
                .top
                    background-color: #aaabab
                .right, .left
                    background-color: #9fa0a0
                .front
                    background-color: #939496
                &.box-24
                    transform: translateX(0px)
                &.box-25
                    transform: translateX(48px)
                &.box-26
                    transform: translateX(96px)
                &.box-27
                    transform: translateX(144px)
        .area-r
            left: 17px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(-1047px) translateX(109px)
            .box
                .top
                    background-color: #aaabab
                .right, .left
                    background-color: #9fa0a0
                .front
                    background-color: #939496
                &.box-1
                    transform: translateZ(0px)
                &.box-2
                    transform: translateZ(-57px)
                &.box-3
                    transform: translateX(85px) translateZ(-172px)
                &.box-4
                    transform: translateX(133px) translateZ(-172px)
                    .top
                        border: 0
                &.box-altar
                    transform: translateX(191px) translateZ(-172px)
                    .top
                        background-color: #c0ad7e
                    .right, .left
                        background-color: #a8976e
                    .front
                        background-color: #93835e
                &.box-5
                    transform: translateX(350px) translateZ(-172px)
                &.box-6
                    transform: translateX(398px) translateZ(-172px)
                &.box-7
                    transform: translateX(446px) translateZ(-172px)
        .area-main
            left: 17px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(-1052px) translateX(610px)
            .box
                &.box-altar
                    transform: translateX(0px) translateZ(-113px)
                    .top
                        width: 169px
                        height: 206px
                        background-color: #c0ad7e
                        font-size: 50px
                        line-height: 206px
                        transform: rotate3d(1 ,0 ,0, -90deg) translateZ(-109px) rotateX(180deg)
                    .front
                        width: 169px
                        background-color: #93835e
                        transform: rotate3d(1 ,0 ,0, 180deg) translateZ(-95px)
        .area-h2
            left: 17px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(-1047px) translateX(787px)
            .box
                .top
                    background-color: #aaabab
                .right, .left
                    background-color: #9fa0a0
                .front
                    background-color: #939496
                &.box-1
                    transform: translateX(0px) translateZ(-172px)
                &.box-2
                    transform: translateX(48px) translateZ(-172px)
                &.box-3
                    transform: translateX(96px) translateZ(-172px)
                    .top
                        border: 0
                &.box-altar
                    transform: translateX(154px) translateZ(-172px)
                    .top
                        background-color: #c0ad7e
                    .right, .left
                        background-color: #a8976e
                    .front
                        background-color: #93835e
                &.box-4
                    transform: translateX(313px) translateZ(-172px)
                &.box-5
                    transform: translateX(361px) translateZ(-172px)
                    .top
                        border: 0
                &.box-6
                    transform: translateX(411px) translateZ(-57px)
                    .top
                        border: 0
                &.box-7
                    transform: translateX(411px) translateZ(0px)
                    .top
                        border: 0 solid rgba(255,255,255,0.5)
                        border-top-width: 2px
        .area-j
            left: 246px
            bottom: 0
            transform-style: preserve-3d
            transform: translateZ(-79px)
            .area-tag
                transform: translateZ(-420px) translateX(-53px)
                .top
                    background-color: #85ac33
            .box
                .front
                    background-color: #74902e
                .right, .left
                    background-color: #607a3d
                .top
                    background-color: #85ac33
                &.box-1
                    z-index: 6
                    transform: translateZ(-570px)
                    .top
                        border: 0
                &.box-2
                    z-index: 7
                    transform: translateZ(-513px)
                &.box-3
                    z-index: 8
                    transform: translateZ(-456px)
                &.box-4
                    z-index: 9
                    transform: translateZ(-399px)
                &.box-5
                    z-index: 10
                    transform: translateZ(-342px)
                    .top
                        border: 0 solid rgba(255, 255, 255, .5)
                        border-top-width: 2px
        .area-g
            left: 1090px
            bottom: 0
            transform-style: preserve-3d
            transform: translateZ(-79px)
            .area-tag
                transform: translateZ(-420px) translateX(91px)
                .top
                    background-color: #ef8258
            .box
                .front
                    background-color: #ca6a49
                .right, .left
                    background-color: #bf7d60
                .top
                    background-color: #ef8258
                &.box-5
                    z-index: 6
                    transform: translateZ(-570px)
                    .top
                        border: 0
                &.box-4
                    z-index: 7
                    transform: translateZ(-513px)
                &.box-3
                    z-index: 8
                    transform: translateZ(-456px)
                &.box-2
                    z-index: 9
                    transform: translateZ(-399px)
                &.box-1
                    z-index: 10
                    transform: translateZ(-342px)
                    .top
                        border: 0 solid rgba(255, 255, 255, .5)
                        border-top-width: 2px
        .area-k
            left: 329px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(-622px)
            .area-tag
                transform: translateZ(40px) translateX(168px)
                .top
                    background-color: #47aee0
            .box
                .top
                    background-color: #47aee0
                .right, .left
                    background-color: #4386ca
                .front
                    background-color: #3b8fc8
                &.box-3
                    transform: translateX(0px)
                &.box-2
                    transform: translateX(48px)
                &.box-1
                    transform: translateX(96px)
        .area-f
            left: 946px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(-622px)
            .area-tag
                transform: translateZ(40px) translateX(-66px)
                .top
                    background-color: #e56a85
            .box
                .top
                    background-color: #e56a85
                .right, .left
                    background-color: #b5476b
                .front
                    background-color: #c8556d
                &.box-3
                    transform: translateX(0px)
                &.box-2
                    transform: translateX(48px)
                &.box-1
                    transform: translateX(96px)
        .area-i
            left: 329px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(-450px)
            .area-tag
                transform: translateZ(40px) translateX(297px)
                .top
                    background-color: #6ca690
            .box
                .top
                    background-color: #6ca690
                .right, .left
                    background-color: #b2c3b4
                .front
                    background-color: #659681
                &.box-1
                    transform: translateX(0px)
                &.box-2
                    transform: translateX(48px)
                &.box-3
                    transform: translateX(96px)
                &.box-4
                    transform: translateX(144px)
                &.box-5
                    transform: translateX(192px)
                &.box-6
                    transform: translateX(240px)
        .area-h
            left: 802px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(-450px)
            .area-tag
                transform: translateZ(40px) translateX(-55px)
                .top
                    background-color: #9895b2
            .box
                .top
                    background-color: #9895b2
                .right, .left
                    background-color: #777790
                .front
                    background-color: #84809c
                &.box-1
                    transform: translateX(0px)
                &.box-2
                    transform: translateX(48px)
                &.box-3
                    transform: translateX(96px)
                &.box-4
                    transform: translateX(144px)
                &.box-5
                    transform: translateX(192px)
                &.box-6
                    transform: translateX(240px)

    .map-one
        .area-i
            left: 1324px
            bottom: 0
            transform-style: preserve-3d
            transform: translateZ(-963px)
            .box
                .top
                    background-color: #ea9a9b
                .right, .left
                    background-color: #d0818b
                .front
                    background-color: #e4818b
                &.box-1
                    transform: translateX(-109px)
                &.box-2
                    transform: translateX(-61px)
                &.box-3
                    transform: translateX(-13px)
                &.box-4
                    transform: translateX(35px)
        .area-i2
            left: 1324px
            bottom: -1px
            transform-style: preserve-3d
            transform: translateZ(-80px)
            .area-tag
                transform: translateZ(-306px) translateX(87px)
                .top
                    background-color: #ea9a9b
            .box
                .top
                    background-color: #ea9a9b
                .right, .left
                    background-color: #d0818b
                .front
                    background-color: #e4818b
                &.box-19
                    z-index: 16
                &.box-18
                    z-index: 15
                    transform: translateZ(-57px)
                &.box-17
                    z-index: 14
                    transform: translateZ(-114px)
                &.box-16
                    z-index: 13
                    transform: translateZ(-171px)
                &.box-15
                    z-index: 12
                    transform: translateZ(-228px)
                &.box-14
                    z-index: 11
                    transform: translateZ(-285px)
                &.box-13
                    z-index: 10
                    transform: translateZ(-342px)
                &.box-12
                    z-index: 9
                    transform: translateZ(-399px)
                &.box-11
                    z-index: 8
                    transform: translateZ(-456px)
                &.box-10
                    z-index: 7
                    transform: translateZ(-513px)
                &.box-9
                    z-index: 6
                    transform: translateZ(-570px)
                &.box-8
                    z-index: 5
                    transform: translateZ(-627px)
                &.box-7
                    z-index: 4
                    transform: translateZ(-684px)
                &.box-6
                    z-index: 3
                    transform: translateZ(-741px)
                &.box-5
                    z-index: 2
                    transform: translateZ(-798px)
        .area-i3
            left: 1023px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(5px)
            .area-tag
                transform: translateZ(-65px) translateX(111px)
                .top
                    background-color: #ea9a9b
            .box
                .top
                    background-color: #ea9a9b
                .right, .left
                    background-color: #d0818b
                .front
                    background-color: #e4818b
                &.box-27
                    transform: translateX(0px)
                &.box-26
                    transform: translateX(48px)
                &.box-25
                    transform: translateX(96px)
                &.box-24
                    transform: translateX(144px)
                &.box-23
                    transform: translateX(192px)
                &.box-22
                    transform: translateX(240px)
                &.box-21
                    transform: translateX(288px)
                &.box-20
                    transform: translateX(336px)
        .area-j
            left: 545px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(5px)
            .area-tag
                transform: translateZ(-65px) translateX(144px)
                .top
                    background-color: #9895b2
            .box
                .top
                    background-color: #9895b2
                .front
                    background-color: #84809c
                &.box-7
                    transform: translateX(0px)
                &.box-6
                    transform: translateX(48px)
                &.box-5
                    transform: translateX(96px)
                &.box-4
                    transform: translateX(144px)
                &.box-3
                    transform: translateX(192px)
                &.box-2
                    transform: translateX(240px)
                &.box-1
                    transform: translateX(288px)
        .area-s
            left: 17px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(5px)
            .area-tag
                transform: translateZ(-65px) translateX(191px)
                .top
                    background-color: #cace5d
            .box
                .front
                    background-color: #a0a449
                .right, .left
                    background-color: #b2b752
                .top
                    background-color: #cace5d
                &.box-8
                    transform: translateX(0px)
                &.box-7
                    transform: translateX(48px)
                &.box-6
                    transform: translateX(96px)
                &.box-5
                    transform: translateX(144px)
                &.box-4
                    transform: translateX(192px)
                &.box-3
                    transform: translateX(240px)
                &.box-2
                    transform: translateX(288px)
                &.box-1
                    transform: translateX(336px)
        .area-s2
            left: 17px
            bottom: -1px
            transform-style: preserve-3d
            transform: translateZ(-80px)
            .area-tag
                transform: translateZ(-319px) translateX(-50px)
                .top
                    background-color: #cace5d
            .box
                .front
                    background-color: #a0a449
                .right, .left
                    background-color: #b2b752
                .top
                    background-color: #cace5d
                &.box-9
                    z-index: 16
                &.box-10
                    z-index: 15
                    transform: translateZ(-57px)
                &.box-11
                    z-index: 14
                    transform: translateZ(-114px)
                &.box-12
                    z-index: 13
                    transform: translateZ(-171px)
                &.box-13
                    z-index: 12
                    transform: translateZ(-228px)
                &.box-14
                    z-index: 11
                    transform: translateZ(-285px)
                &.box-15
                    z-index: 10
                    transform: translateZ(-342px)
                &.box-16
                    z-index: 9
                    transform: translateZ(-399px)
                &.box-17
                    z-index: 8
                    transform: translateZ(-456px)
                &.box-18
                    z-index: 7
                    transform: translateZ(-513px)
                &.box-19
                    z-index: 6
                    transform: translateZ(-570px)
                &.box-20
                    z-index: 5
                    transform: translateZ(-627px)
                &.box-21
                    z-index: 4
                    transform: translateZ(-684px)
                &.box-22
                    z-index: 3
                    transform: translateZ(-741px)
                &.box-23
                    z-index: 2
                    transform: translateZ(-798px)

        .area-s3
            left: 17px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(-963px)
            .box
                .front
                    background-color: #a0a449
                .right, .left
                    background-color: #b2b752
                .top
                    background-color: #cace5d
                &.box-24
                    transform: translateX(0px)
                &.box-25
                    transform: translateX(48px)
                &.box-26
                    transform: translateX(96px)
                &.box-27
                    transform: translateX(144px)
        .area-r
            left: 17px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(-1047px) translateX(109px)
            .area-tag
                transform: translateZ(-95px) translateX(5px)
                .top
                    width: 68px
                    height: 65px
                    background-color: #d0a862
                    font-size: 30px
                    line-height: 65px
            .box
                .top
                    background-color: #d0a862
                .right, .left
                    background-color: #a07035
                .front
                    background-color: #b6884a
                &.box-1
                    transform: translateZ(0px)
                &.box-2
                    transform: translateZ(-57px)
                &.box-3
                    transform: translateX(85px) translateZ(-172px)
                &.box-4
                    transform: translateX(133px) translateZ(-172px)
                    .top
                        border: 0
                &.box-altar
                    transform: translateX(191px) translateZ(-172px)
                    .top
                        background-color: #c0ad7e
                        font-size: 30px
                        width: 100px
                    .right, .left
                        background-color: #a8976e
                    .right 
                        transform: rotate3d(0, 1, 0, 90deg) translateZ(43px)
                    .front
                        background-color: #93835e
                        width: 100px
                &.box-5
                    transform: translateX(302px) translateZ(-172px)
                &.box-6
                    transform: translateX(350px) translateZ(-172px)
                &.box-7
                    transform: translateX(398px) translateZ(-172px)
                &.box-8
                    transform: translateX(446px) translateZ(-172px)
        .area-main
            left: 17px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(-1052px) translateX(610px)
            .box
                &.box-altar
                    transform: translateX(0px) translateZ(-113px)
                    .top
                        width: 169px
                        height: 206px
                        background-color: #c0ad7e
                        font-size: 50px
                        line-height: 206px
                        transform: rotate3d(1 ,0 ,0, -90deg) translateZ(-109px) rotateX(180deg)
                    .front
                        width: 169px
                        background-color: #93835e
                        transform: rotate3d(1 ,0 ,0, 180deg) translateZ(-95px)
        .area-h
            left: 17px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(-1047px) translateX(787px)
            .area-tag
                transform: translateZ(-95px) translateX(420px)
                .top
                    width: 68px
                    height: 65px
                    background-color: #f5a32d
                    font-size: 30px
                    line-height: 65px
            .box
                .top
                    background-color: #f5a32d
                .right, .left
                    background-color: #c3752d
                .front
                    background-color: #e2832d
                &.box-1
                    transform: translateX(0px) translateZ(-172px)
                &.box-2
                    transform: translateX(48px) translateZ(-172px)
                &.box-3
                    transform: translateX(96px) translateZ(-172px)
                &.box-altar
                    transform: translateX(203px) translateZ(-172px)
                    .top
                        background-color: #c0ad7e
                        font-size: 30px
                        width: 100px
                    .right, .left
                        background-color: #a8976e
                    .right 
                        transform: rotate3d(0, 1, 0, 90deg) translateZ(-46px)
                    .front
                        background-color: #93835e
                        width: 100px
                &.box-4
                    transform: translateX(144px) translateZ(-172px)
                    .top
                        border: 0
                &.box-5
                    transform: translateX(313px) translateZ(-172px)
                &.box-6
                    transform: translateX(361px) translateZ(-172px)
                    .top
                        border: 0
                &.box-7
                    transform: translateX(411px) translateZ(-57px)
                    .top
                        border: 0
                &.box-8
                    transform: translateX(411px) translateZ(0px)
                    .top
                        border: 0 solid rgba(255,255,255,0.5)
                        border-top-width: 2px
        .area-n
            left: 246px
            bottom: 0
            transform-style: preserve-3d
            transform: translateZ(-79px)
            .area-tag
                transform: translateZ(-420px) translateX(-53px)
                .top
                    background-color: #687d54
            .box
                .front
                    background-color: #57644b
                .right, .left
                    background-color: #57644b
                .top
                    background-color: #687d54
                &.box-1
                    z-index: 6
                    transform: translateZ(-570px)
                    .top
                        border: 0
                &.box-2
                    z-index: 7
                    transform: translateZ(-513px)
                &.box-3
                    z-index: 8
                    transform: translateZ(-456px)
                &.box-4
                    z-index: 9
                    transform: translateZ(-399px)
                &.box-5
                    z-index: 10
                    transform: translateZ(-342px)
                    .top
                        border: 0 solid rgba(255, 255, 255, .5)
                        border-top-width: 2px
        .area-d
            left: 1090px
            bottom: 0
            transform-style: preserve-3d
            transform: translateZ(-79px)
            .area-tag
                transform: translateZ(-420px) translateX(91px)
                .top
                    background-color: #ef8258
            .box
                .front
                    background-color: #ca6a49
                .right, .left
                    background-color: #b76a49
                .top
                    background-color: #ef8258
                &.box-5
                    z-index: 6
                    transform: translateZ(-570px)
                    .top
                        border: 0
                &.box-4
                    z-index: 7
                    transform: translateZ(-513px)
                &.box-3
                    z-index: 8
                    transform: translateZ(-456px)
                &.box-2
                    z-index: 9
                    transform: translateZ(-399px)
                &.box-1
                    z-index: 10
                    transform: translateZ(-342px)
                    .top
                        border: 0 solid rgba(255, 255, 255, .5)
                        border-top-width: 2px
        .area-o
            left: 329px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(-622px)
            .area-tag
                transform: translateZ(40px) translateX(297px)
                .top
                    background-color: #4b7184
            .box
                .top
                    background-color: #4b7184
                .right, .left
                    background-color: #435260
                .front
                    background-color: #395974
                &.box-5
                    transform: translateX(0px)
                &.box-4
                    transform: translateX(48px)
                &.box-3
                    transform: translateX(96px)
                &.box-2
                    transform: translateX(144px)
                &.box-1
                    transform: translateX(192px)
        .area-e
            left: 946px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(-622px)
            .area-tag
                transform: translateZ(40px) translateX(-199px)
                .top
                    background-color: #e56a85
            .box
                .top
                    background-color: #e56a85
                .right, .left
                    background-color: #b5476b
                .front
                    background-color: #c8556d
                &.box-6
                    transform: translateX(-144px)
                &.box-5
                    transform: translateX(-96px)
                &.box-4
                    transform: translateX(-48px)
                &.box-3
                    transform: translateX(0px)
                &.box-2
                    transform: translateX(48px)
                &.box-1
                    transform: translateX(96px)
        .area-m
            left: 329px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(-450px)
            .area-tag
                transform: translateZ(40px) translateX(297px)
                .top
                    background-color: #c0d4c3
            .box
                .top
                    background-color: #c0d4c3
                .right, .left
                    background-color: #b3c5b6
                .front
                    background-color: #9fb0a3
                &.box-1
                    transform: translateX(0px)
                &.box-2
                    transform: translateX(48px)
                &.box-3
                    transform: translateX(96px)
                &.box-4
                    transform: translateX(144px)
                &.box-5
                    transform: translateX(192px)
                &.box-6
                    transform: translateX(240px)
        .area-c
            left: 802px
            bottom: 0
            z-index: 99
            transform-style: preserve-3d
            transform: translateZ(-450px)
            .area-tag
                transform: translateZ(40px) translateX(-55px)
                .top
                    background-color: #85ac33
            .box
                .front
                    background-color: #74902e
                .right, .left
                    background-color: #607a3d
                .top
                    background-color: #85ac33
                &.box-1
                    transform: translateX(0px)
                &.box-2
                    transform: translateX(48px)
                &.box-3
                    transform: translateX(96px)
                &.box-4
                    transform: translateX(144px)
                &.box-5
                    transform: translateX(192px)
                &.box-6
                    transform: translateX(240px)
        .area-p
          left: 281px
          bottom: 0
          z-index: 99
          transform-style: preserve-3d
          transform: translateZ(-790px)
          .area-tag
            transform: translateZ(40px) translateX(345px)
            .top
              background-color: #6ca690
          .box
            .top
              background-color: #6ca690
            .right, .left
              background-color: #4c8176
            .front
              background-color: #659681
            &.box-1
              transform: translateX(0px)
            &.box-2
              transform: translateX(48px)
            &.box-3
              transform: translateX(96px)
            &.box-4
              transform: translateX(144px)
            &.box-5
              transform: translateX(192px)
            &.box-6
              transform: translateX(240px)
            &.box-7
              transform: translateX(288px)
        .area-q
          left: 281px
          bottom: 0
          z-index: 99
          transform-style: preserve-3d
          transform: translateZ(-902px)
          .area-tag
            transform: translateZ(40px) translateX(345px)
            .top
              background-color: #6693b2
          .box
            .top
              background-color: #6693b2
            .right, .left
              background-color: #4b6b80
            .front
              background-color: #5a7d95
            &.box-7
              transform: translateX(0px)
            &.box-6
              transform: translateX(48px)
            &.box-5
              transform: translateX(96px)
            &.box-4
              transform: translateX(144px)
            &.box-3
              transform: translateX(192px)
            &.box-2
              transform: translateX(240px)
            &.box-1
              transform: translateX(288px)
        .area-f
          left: 802px
          bottom: 0
          z-index: 99
          transform-style: preserve-3d
          transform: translateZ(-790px)
          .area-tag
            transform: translateZ(40px) translateX(-55px)
            .top
              background-color: #8873a0
          .box
            .top
              background-color: #8873a0
            .right, .left
              background-color: #68557f
            .front
              background-color: #68557f
            &.box-1
              transform: translateX(0px)
            &.box-2
              transform: translateX(48px)
            &.box-3
              transform: translateX(96px)
            &.box-4
              transform: translateX(144px)
            &.box-5
              transform: translateX(192px)
            &.box-6
              transform: translateX(240px)
            &.box-7
              transform: translateX(288px)
        .area-g
          left: 802px
          bottom: 0
          z-index: 99
          transform-style: preserve-3d
          transform: translateZ(-902px)
          .area-tag
            transform: translateZ(40px) translateX(-55px)
            .top
              background-color: #c2c3c4
          .box
            .top
              background-color: #c2c3c4
            .right, .left
              background-color: #aaabab
            .front
              background-color: #5a7d95
            &.box-7
              transform: translateX(0px)
            &.box-6
              transform: translateX(48px)
            &.box-5
              transform: translateX(96px)
            &.box-4
              transform: translateX(144px)
            &.box-3
              transform: translateX(192px)
            &.box-2
              transform: translateX(240px)
            &.box-1
              transform: translateX(288px)
        .area-k
          left: 377px
          bottom: 0
          z-index: 99
          transform-style: preserve-3d
          transform: translateZ(-181px)
          .area-tag
            transform: translateZ(40px) translateX(-51px)
            .top
              background-color: #a9d1ec
          .box
            .top
              background-color: #a9d1ec
            .right, .left
              background-color: #90b3ca
            .front
              background-color: #89abc1
            &.box-1
              transform: translateX(0px)
            &.box-2
              transform: translateX(48px)
            &.box-3
              transform: translateX(96px)
            &.box-4
              transform: translateX(144px)
            &.box-5
              transform: translateX(192px)
        .area-l
          left: 281px
          bottom: 0
          z-index: 99
          transform-style: preserve-3d
          transform: translateZ(-295px)
          .area-tag
            transform: translateZ(40px) translateX(45px)
            .top
              background-color: #008a8c
          .box
            .top
              background-color: #008a8c
            .right, .left
              background-color: #007375
            .front
              background-color: #007375
            &.box-5
              transform: translateX(96px)
            &.box-4
              transform: translateX(144px)
            &.box-3
              transform: translateX(192px)
            &.box-2
              transform: translateX(240px)
            &.box-1
              transform: translateX(288px)
        .area-a
          left: 802px
          bottom: 0
          z-index: 99
          transform-style: preserve-3d
          transform: translateZ(-181px)
          .area-tag
            transform: translateZ(40px) translateX(245px)
            .top
              background-color: #fabe00
          .box
            .top
              background-color: #fabe00
            .right, .left
              background-color: #d77700
            .front
              background-color: #eb9e00
            &.box-1
              transform: translateX(0px)
            &.box-2
              transform: translateX(48px)
            &.box-3
              transform: translateX(96px)
            &.box-4
              transform: translateX(144px)
            &.box-5
              transform: translateX(192px)
        .area-b
          left: 706px
          bottom: 0
          z-index: 99
          transform-style: preserve-3d
          transform: translateZ(-295px)
          .area-tag
            transform: translateZ(40px) translateX(341px)
            .top
              background-color: #47aee0
          .box
            .top
              background-color: #47aee0
            .right, .left
              background-color: #3791e0
            .front
              background-color: #3791e0
            &.box-5
              transform: translateX(96px)
            &.box-4
              transform: translateX(144px)
            &.box-3
              transform: translateX(192px)
            &.box-2
              transform: translateX(240px)
            &.box-1
              transform: translateX(288px)

.bs-popover-top
  margin-bottom: 23px
.locate
  z-index: 100
  width: 145px
  height: 145px
  border-radius: 50%
  background-color: #fff
  background-size: 100%
  color: #000
  font-weight: 600
  font-size: 25px
  text-align: center
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2)
  transform: translateY(15px)
  animation: .6s locate-bubble forwards
  .article
    position: relative
    z-index: 100
    opacity: 0
    animation: 0.5s locate-article .9s forwards
    img
      width: 28px
    .level
      display: inline-block
      width: 29px
      height: 29px
      margin-top: 7px
      margin-right: 5px
      border-radius: 50%
      background-color: #000
      color: #fff
      font-weight: 600
      font-size: 20px
      line-height: 28px
      text-align: center
      transform: translateY(-3px)
  &:after
    content: '▼'
    position: absolute
    left: calc(50% - 43.2px)
    bottom: -25px
    z-index: -1
    color: #fff
    font-size: 90px
    animation: 0.3s locate-after .6s forwards

.locate
  &.down
    animation: .6s locate-bubble-down forwards
    .article
      animation: 0.5s locate-article-down .9s forwards
    &:after
      content: '▲'
      top: -40px
      bottom: 0
      animation: 0.3s locate-after-down .6s forwards


@keyframes locate-bubble
    0%
        opacity: 0
        transform: scale(0.25) translateY(300px)
    40%
        opacity: .5
        transform: scale(0.25) translateY(0px)
    100%
        opacity: 1
        transform: scale(1) translateY(0px)
@keyframes locate-after
    0%
        bottom: -25px
    100%
        bottom: -65px
@keyframes locate-article
    0%
        opacity: 0
        transform: translateY(-35px)
    100%
        opacity: 1
        transform: translateY(0px)
@keyframes locate-bubble-down
  0%
    opacity: 0
    transform: scale(0.25) translateY(0px)
  40%
    opacity: .5
    transform: scale(0.25) translateY(300px)
  100%
    opacity: 1
    transform: scale(1) translateY(300px)
@keyframes locate-after-down
  0%
    top: -40px
  100%
    top: -70px
@keyframes locate-article-down
  0%
    opacity: 0
    transform: translateY(35px)
  100%
    opacity: 1
    transform: translateY(0px)

