@font-face
    font-family: NotoSerifCJKtc
    src: url('../fonts/NotoSerifCJKtc-bold.otf')

html, body
    background-color: #f8f8f8
    color: #000
    font-family: "NotoSerifCJKtc", 'sans-serif'
    font-size: 16px

h2
    display: block

p
    margin-bottom: 0

#content-wrapper
    width: 1920px
    height: 1080px
    background: #e8e7e6 url(../../i/index-bg.png) center bottom no-repeat
    background-size: 1920px

#content-main
    width: 1920px
    height: 1080px
    padding-top: 153px
    background-color: transparent
    .title
        float: right
        width: 595px
        margin-right: 130px
        text-align: center
        h2
            width: 595px
            margin: 0 auto
            color: #000
            img
                width: 100%
        h3
            width: 480px
            margin: 33px auto 85px
            color: #5c1f3d
            img
                width: 100%
        .login
            width: 359px
            height: 76px
            margin: 0 auto
            border-radius: 38px
            background-color: #5c1f3d
            color: #fff
            font-weight: 600
            font-size: 30px
            font-family: "微軟正黑體", serif
            line-height: 76px