@charset "UTF-8";
@font-face {
  font-family: Akrobat-Regular;
  src: url("fonts/Akrobat-Regular.otf");
}
html, body {
  background-color: #f8f8f8;
  color: #000;
  font-family: "Akrobat-Regular", "微軟正黑體", "sans-serif";
  font-size: 16px;
}

.clear {
  clear: both;
}

.clearfix {
  display: inline-block;
}

.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  font-size: 0;
  content: ".";
}

* html .clearfix {
  height: 1%;
}

*:focus {
  outline: none !important;
}

.clearfix {
  display: block;
}

h2 {
  display: none;
}

p {
  margin-bottom: 0;
}

#content-wrapper {
  width: 1920px;
}

#content-main {
  float: left;
  width: 1455px;
  height: 1080px;
  padding-top: 60px;
  background-color: #e8e7e6;
  text-align: center;
}
#content-main .map {
  width: 1420px;
  height: 840px;
  background-color: #e8e7e6;
}
#content-main h3 {
  margin-top: 50px;
  font-weight: 600;
  font-size: 50px;
  color: #21030e;
}

#content-sidebar {
  float: left;
  width: 465px;
  background-color: #21030e;
}
#content-sidebar .nav .nav-item {
  position: relative;
  width: 50%;
  margin-left: 0;
  background-color: #21030e;
}
#content-sidebar .nav .nav-item .nav-link {
  height: 98px;
  border-radius: 0;
  background-color: transparent;
  color: #908186;
  font-weight: 600;
  font-size: 40px;
  line-height: 80px;
  text-indent: 55px;
}
#content-sidebar .nav .nav-item.active .nav-link {
  background-color: #cb9c72;
  color: #fff;
}
#content-sidebar .nav .nav-item.active .nav-link:after {
  content: " ";
  position: absolute;
  bottom: -15px;
  left: calc(50% - 24.35px);
  z-index: 9;
  width: 34.5px;
  height: 34.5px;
  border-radius: 5px;
  background-color: #cb9c72;
  transform: rotateZ(45deg);
}
#content-sidebar .nav .nav-item #floor01-tab:before {
  content: " ";
  position: absolute;
  top: 25px;
  left: 18px;
  width: 45px;
  height: 45px;
  background: url(../i/one-off.svg);
  background-size: 45px;
}
#content-sidebar .nav .nav-item.active #floor01-tab:before {
  background: url(../i/one-on.svg);
}
#content-sidebar .nav .nav-item #floor02-tab:before {
  content: " ";
  position: absolute;
  top: 25px;
  left: 18px;
  width: 45px;
  height: 45px;
  background: url(../i/two-off.svg);
  background-size: 45px;
}
#content-sidebar .nav .nav-item.active #floor02-tab:before {
  background: url(../i/two-on.svg);
}

#content-sidebar .tab-content .number-input {
  height: 195px;
  padding: 38px 45px;
  background-color: #5c1f3d;
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  text-align: left;
}
#content-sidebar .tab-content .number-input input {
  width: 100%;
  height: 76px;
  padding: 11px 17px;
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 5px #48132d;
  color: #000;
  font-weight: 600;
  font-size: 40px;
}
#content-sidebar .tab-content .keyboard {
  overflow: hidden;
  padding: 35px 56px 60px;
}
#content-sidebar .tab-content .keyboard .btn-number {
  float: left;
  width: 111px;
  height: 111px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 20px;
  background-color: #3f162a;
  color: #fff;
  font-weight: 600;
  font-size: 45px;
  line-height: 111px;
  cursor: pointer;
}
#content-sidebar .tab-content .keyboard .btn-number:nth-of-type(3n) {
  margin-right: 0;
}
#content-sidebar .tab-content .keyboard .btn-number.backspace {
  background-color: #70254a;
  line-height: 0;
  text-indent: -5px;
}
#content-sidebar .tab-content .keyboard .btn-enter {
  width: 359px;
  height: 76px;
  border: 0;
  border-radius: 38px;
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  line-height: 76px;
  cursor: pointer;
}
#content-sidebar .tab-content .keyboard .btn-enter.btn-submit {
  margin: 26px 0 30px;
  background-color: #70254a;
}
#content-sidebar .tab-content .keyboard .btn-enter.btn-exit {
  border: solid 2px #ffffff;
  background-color: transparent;
}

#content-main {
  position: relative;
}
#content-main .zoom-tool {
  position: absolute;
  top: 55px;
  right: 55px;
  z-index: 111;
  width: 143px;
  height: 70px;
}
#content-main .zoom-tool .zoom {
  float: left;
  width: 71.5px;
  height: 70px;
  cursor: pointer;
}
#content-main .zoom-tool .zoom.in {
  background: url(../i/zoom-in-on.png) center center no-repeat;
  background-size: 100%;
}
#content-main .zoom-tool .zoom.in.active {
  background: url(../i/zoom-in-off.png) center center no-repeat;
  background-size: 100%;
}
#content-main .zoom-tool .zoom.out {
  background: url(../i/zoom-out-off.png) center center no-repeat;
  background-size: 100%;
}
#content-main .zoom-tool .zoom.out.active {
  background: url(../i/zoom-out-on.png) center center no-repeat;
  background-size: 100%;
}
#content-main .map-article {
  overflow: hidden;
  width: 1420px;
  height: 840px;
  margin: 0 auto;
}
#content-main .map-article .map-frame {
  overflow: scroll;
  width: 1725px;
  height: 880px;
}
#content-main .entrance {
  position: absolute;
  bottom: 30px;
  z-index: 99;
  font-weight: 600;
  font-size: 20px;
}
#content-main .entrance:after {
  content: "▲";
  position: absolute;
  bottom: 23px;
  left: 18px;
  display: block;
  color: #000;
  font-size: 24px;
}
#content-main .entrance.right {
  right: 433px;
}
#content-main .entrance.left {
  left: 445px;
}
#content-main .stairs {
  position: absolute;
  z-index: 99;
  width: 33px;
  height: 33px;
  background: url(../i/stairs.png) center center no-repeat;
  background-size: 100%;
}
#content-main .stairs:after {
  content: "►";
  position: absolute;
  display: block;
  color: #000;
  font-size: 24px;
  line-height: 33px;
}
#content-main .stairs.right {
  top: 389px;
  right: 653px;
}
#content-main .stairs.right:after {
  left: 32px;
  line-height: 40px;
}
#content-main .stairs.left {
  top: 390px;
  left: 653px;
}
#content-main .stairs.left:after {
  right: 33px;
  line-height: 30px;
  transform: rotateZ(180deg);
}
#content-main .fixed-now {
  position: absolute;
  z-index: 99;
  width: 40px;
  height: 40px;
  background: url(../i/fixed-now.png) center center no-repeat;
  background-size: 100%;
}
#content-main .fixed-now:after {
  content: "現在位置";
  position: absolute;
  left: 40px;
  display: block;
  width: 120px;
  font-weight: 600;
  color: #b31532;
  font-size: 30px;
  line-height: 40px;
}
#content-main .fixed-now.one {
  top: 687px;
  right: 580px;
}
#content-main .fixed-now.two {
  top: 510px;
  right: 590px;
}
#content-main .map {
  position: relative;
  transform: scale(0.97);
}
#content-main .map .stage {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(-45deg) translateZ(70px);
  -webkit-perspective: 2880px;
}
#content-main .map .map-area {
  position: absolute;
}
#content-main .map .box {
  position: absolute;
  bottom: 0;
  left: 0;
  transform-style: preserve-3d;
}
#content-main .map .box:nth-last-child(1) .top {
  border: 0;
}
#content-main .map .box div {
  position: absolute;
}
#content-main .map .box .front {
  width: 48px;
  height: 30px;
  background-color: #9fb0a3;
}
#content-main .map .box .right, #content-main .map .box .left {
  width: 113px;
  height: 30px;
  background-color: #b0c2b3;
}
#content-main .map .box .top {
  width: 48px;
  height: 113px;
  border: 0 solid rgba(255, 255, 255, 0.5);
  border-right-width: 2px;
  background-color: #c0d4c3;
  font-size: 28px;
  text-align: center;
  line-height: 113px;
  transform: rotate3d(1, 0, 0, -90deg) translateZ(-56px) rotateX(180deg);
}
#content-main .map .box .left {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(-56px);
}
#content-main .map .box .right {
  transform: rotate3d(0, 1, 0, -90deg) translateZ(9px);
}
#content-main .map .box .front {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(-57px);
}
#content-main .map .box.box-h {
  position: absolute;
  bottom: 0;
  left: 0;
  transform-style: preserve-3d;
}
#content-main .map .box.box-h:nth-last-child(1) .top {
  border: 0;
}
#content-main .map .box.box-h div {
  position: absolute;
}
#content-main .map .box.box-h .front {
  width: 83px;
  height: 30px;
  background-color: #9fb0a3;
}
#content-main .map .box.box-h .right, #content-main .map .box.box-h .left {
  width: 57px;
  height: 30px;
  background-color: #b0c2b3;
}
#content-main .map .box.box-h .top {
  width: 83px;
  height: 57px;
  border: 0 solid rgba(255, 255, 255, 0.5);
  border-top-width: 2px;
  background-color: #c0d4c3;
  font-size: 28px;
  text-align: center;
  line-height: 48px;
  transform: rotate3d(1, 0, 0, -90deg) rotateX(180deg) translateZ(29px);
}
#content-main .map .box.box-h .left {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(-28px);
}
#content-main .map .box.box-h .right {
  transform: rotate3d(0, 1, 0, -90deg) translateZ(-54px);
}
#content-main .map .box.box-h .front {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(-28px);
}
#content-main .map .box.box-altar {
  position: absolute;
  bottom: 0;
  left: 0;
  transform-style: preserve-3d;
}
#content-main .map .box.box-altar:nth-last-child(1) .top {
  border: 0;
}
#content-main .map .box.box-altar div {
  position: absolute;
}
#content-main .map .box.box-altar .front {
  width: 149px;
  height: 30px;
  background-color: #93835e;
}
#content-main .map .box.box-altar .right, #content-main .map .box.box-altar .left {
  width: 113px;
  height: 30px;
  background-color: #a8976e;
}
#content-main .map .box.box-altar .top {
  width: 149px;
  height: 113px;
  border: 0 solid rgba(255, 255, 255, 0.5);
  border-top-width: 2px;
  background-color: #c0ad7e;
  font-weight: 600;
  font-size: 38px;
  text-align: center;
  line-height: 113px;
  transform: rotate3d(1, 0, 0, -90deg) translateZ(-56px) rotateX(180deg);
}
#content-main .map .box.box-altar .top span {
  display: block;
  transform: scaleY(1.5);
}
#content-main .map .box.box-altar .left {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(-56px);
}
#content-main .map .box.box-altar .right {
  transform: rotate3d(0, 1, 0, -90deg) translateZ(-92px);
}
#content-main .map .box.box-altar .front {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(-57px);
}
#content-main .map .area-tag {
  position: absolute;
  bottom: 0;
  left: 0;
  transform-style: preserve-3d;
}
#content-main .map .area-tag .top {
  width: 48px;
  height: 45px;
  background-color: #c0d4c3;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  line-height: 45px;
  transform: rotate3d(1, 0, 0, -90deg) translateZ(0px) rotateX(180deg);
}
#content-main .map-two .area-a {
  left: 1023px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(5px);
}
#content-main .map-two .area-a .area-tag {
  transform: translateZ(-65px) translateX(111px);
}
#content-main .map-two .area-a .area-tag .top {
  background-color: #ea9a9b;
}
#content-main .map-two .area-a .box .top {
  background-color: #ea9a9b;
}
#content-main .map-two .area-a .box .right, #content-main .map-two .area-a .box .left {
  background-color: #d0818b;
}
#content-main .map-two .area-a .box .front {
  background-color: #e4818b;
}
#content-main .map-two .area-a .box.box-8 {
  transform: translateX(0px);
}
#content-main .map-two .area-a .box.box-7 {
  transform: translateX(48px);
}
#content-main .map-two .area-a .box.box-6 {
  transform: translateX(96px);
}
#content-main .map-two .area-a .box.box-5 {
  transform: translateX(144px);
}
#content-main .map-two .area-a .box.box-4 {
  transform: translateX(192px);
}
#content-main .map-two .area-a .box.box-3 {
  transform: translateX(240px);
}
#content-main .map-two .area-a .box.box-2 {
  transform: translateX(288px);
}
#content-main .map-two .area-a .box.box-1 {
  transform: translateX(336px);
}
#content-main .map-two .area-b {
  left: 545px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(5px);
}
#content-main .map-two .area-b .area-tag {
  transform: translateZ(-65px) translateX(144px);
}
#content-main .map-two .area-b .area-tag .top {
  background-color: #fabe00;
}
#content-main .map-two .area-b .box .top {
  background-color: #fabe00;
}
#content-main .map-two .area-b .box .front {
  background-color: #eb9e00;
}
#content-main .map-two .area-b .box.box-7 {
  transform: translateX(0px);
}
#content-main .map-two .area-b .box.box-6 {
  transform: translateX(48px);
}
#content-main .map-two .area-b .box.box-5 {
  transform: translateX(96px);
}
#content-main .map-two .area-b .box.box-4 {
  transform: translateX(144px);
}
#content-main .map-two .area-b .box.box-3 {
  transform: translateX(192px);
}
#content-main .map-two .area-b .box.box-2 {
  transform: translateX(240px);
}
#content-main .map-two .area-b .box.box-1 {
  transform: translateX(288px);
}
#content-main .map-two .area-c {
  left: 17px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(5px);
}
#content-main .map-two .area-c .area-tag {
  transform: translateZ(-65px) translateX(191px);
}
#content-main .map-two .area-c .area-tag .top {
  background-color: #c0d4c3;
}
#content-main .map-two .area-c .box.box-8 {
  transform: translateX(0px);
}
#content-main .map-two .area-c .box.box-7 {
  transform: translateX(48px);
}
#content-main .map-two .area-c .box.box-6 {
  transform: translateX(96px);
}
#content-main .map-two .area-c .box.box-5 {
  transform: translateX(144px);
}
#content-main .map-two .area-c .box.box-4 {
  transform: translateX(192px);
}
#content-main .map-two .area-c .box.box-3 {
  transform: translateX(240px);
}
#content-main .map-two .area-c .box.box-2 {
  transform: translateX(288px);
}
#content-main .map-two .area-c .box.box-1 {
  transform: translateX(336px);
}
#content-main .map-two .area-d {
  left: 17px;
  bottom: -1px;
  transform-style: preserve-3d;
  transform: translateZ(-80px);
}
#content-main .map-two .area-d .area-tag {
  transform: translateZ(-319px) translateX(-50px);
}
#content-main .map-two .area-d .area-tag .top {
  background-color: #cace5d;
}
#content-main .map-two .area-d .box .front {
  background-color: #a0a449;
}
#content-main .map-two .area-d .box .right, #content-main .map-two .area-d .box .left {
  background-color: #b2b752;
}
#content-main .map-two .area-d .box .top {
  background-color: #cace5d;
}
#content-main .map-two .area-d .box.box-1 {
  z-index: 16;
}
#content-main .map-two .area-d .box.box-2 {
  z-index: 15;
  transform: translateZ(-57px);
}
#content-main .map-two .area-d .box.box-3 {
  z-index: 14;
  transform: translateZ(-114px);
}
#content-main .map-two .area-d .box.box-4 {
  z-index: 13;
  transform: translateZ(-171px);
}
#content-main .map-two .area-d .box.box-5 {
  z-index: 12;
  transform: translateZ(-228px);
}
#content-main .map-two .area-d .box.box-6 {
  z-index: 11;
  transform: translateZ(-285px);
}
#content-main .map-two .area-d .box.box-7 {
  z-index: 10;
  transform: translateZ(-342px);
}
#content-main .map-two .area-d .box.box-8 {
  z-index: 9;
  transform: translateZ(-399px);
}
#content-main .map-two .area-d .box.box-9 {
  z-index: 8;
  transform: translateZ(-456px);
}
#content-main .map-two .area-d .box.box-10 {
  z-index: 7;
  transform: translateZ(-513px);
}
#content-main .map-two .area-d .box.box-11 {
  z-index: 6;
  transform: translateZ(-570px);
}
#content-main .map-two .area-d .box.box-12 {
  z-index: 5;
  transform: translateZ(-627px);
}
#content-main .map-two .area-d .box.box-13 {
  z-index: 4;
  transform: translateZ(-684px);
}
#content-main .map-two .area-d .box.box-14 {
  z-index: 3;
  transform: translateZ(-741px);
}
#content-main .map-two .area-d .box.box-15 {
  z-index: 2;
  transform: translateZ(-798px);
}
#content-main .map-two .area-e {
  left: 1324px;
  bottom: -1px;
  transform-style: preserve-3d;
  transform: translateZ(-80px);
}
#content-main .map-two .area-e .area-tag {
  transform: translateZ(-306px) translateX(87px);
}
#content-main .map-two .area-e .area-tag .top {
  background-color: #a9d1ec;
}
#content-main .map-two .area-e .box .front {
  background-color: #90b3ca;
}
#content-main .map-two .area-e .box .right, #content-main .map-two .area-e .box .left {
  background-color: #90b3ca;
}
#content-main .map-two .area-e .box .top {
  background-color: #a9d1ec;
}
#content-main .map-two .area-e .box.box-15 {
  z-index: 16;
}
#content-main .map-two .area-e .box.box-14 {
  z-index: 15;
  transform: translateZ(-57px);
}
#content-main .map-two .area-e .box.box-13 {
  z-index: 14;
  transform: translateZ(-114px);
}
#content-main .map-two .area-e .box.box-12 {
  z-index: 13;
  transform: translateZ(-171px);
}
#content-main .map-two .area-e .box.box-11 {
  z-index: 12;
  transform: translateZ(-228px);
}
#content-main .map-two .area-e .box.box-10 {
  z-index: 11;
  transform: translateZ(-285px);
}
#content-main .map-two .area-e .box.box-9 {
  z-index: 10;
  transform: translateZ(-342px);
}
#content-main .map-two .area-e .box.box-8 {
  z-index: 9;
  transform: translateZ(-399px);
}
#content-main .map-two .area-e .box.box-7 {
  z-index: 8;
  transform: translateZ(-456px);
}
#content-main .map-two .area-e .box.box-6 {
  z-index: 7;
  transform: translateZ(-513px);
}
#content-main .map-two .area-e .box.box-5 {
  z-index: 6;
  transform: translateZ(-570px);
}
#content-main .map-two .area-e .box.box-4 {
  z-index: 5;
  transform: translateZ(-627px);
}
#content-main .map-two .area-e .box.box-3 {
  z-index: 4;
  transform: translateZ(-684px);
}
#content-main .map-two .area-e .box.box-2 {
  z-index: 3;
  transform: translateZ(-741px);
}
#content-main .map-two .area-e .box.box-1 {
  z-index: 2;
  transform: translateZ(-798px);
}
#content-main .map-two .area-e2 {
  left: 1324px;
  bottom: 0;
  transform-style: preserve-3d;
  transform: translateZ(-963px);
}
#content-main .map-two .area-e2 .box .top {
  background-color: #aaabab;
}
#content-main .map-two .area-e2 .box .right, #content-main .map-two .area-e2 .box .left {
  background-color: #9fa0a0;
}
#content-main .map-two .area-e2 .box .front {
  background-color: #939496;
}
#content-main .map-two .area-e2 .box.box-1 {
  transform: translateX(-109px);
}
#content-main .map-two .area-e2 .box.box-2 {
  transform: translateX(-61px);
}
#content-main .map-two .area-e2 .box.box-3 {
  transform: translateX(-13px);
}
#content-main .map-two .area-e2 .box.box-4 {
  transform: translateX(35px);
}
#content-main .map-two .area-d2 {
  left: 17px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-963px);
}
#content-main .map-two .area-d2 .box .top {
  background-color: #aaabab;
}
#content-main .map-two .area-d2 .box .right, #content-main .map-two .area-d2 .box .left {
  background-color: #9fa0a0;
}
#content-main .map-two .area-d2 .box .front {
  background-color: #939496;
}
#content-main .map-two .area-d2 .box.box-24 {
  transform: translateX(0px);
}
#content-main .map-two .area-d2 .box.box-25 {
  transform: translateX(48px);
}
#content-main .map-two .area-d2 .box.box-26 {
  transform: translateX(96px);
}
#content-main .map-two .area-d2 .box.box-27 {
  transform: translateX(144px);
}
#content-main .map-two .area-r {
  left: 17px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-1047px) translateX(109px);
}
#content-main .map-two .area-r .box .top {
  background-color: #aaabab;
}
#content-main .map-two .area-r .box .right, #content-main .map-two .area-r .box .left {
  background-color: #9fa0a0;
}
#content-main .map-two .area-r .box .front {
  background-color: #939496;
}
#content-main .map-two .area-r .box.box-1 {
  transform: translateZ(0px);
}
#content-main .map-two .area-r .box.box-2 {
  transform: translateZ(-57px);
}
#content-main .map-two .area-r .box.box-3 {
  transform: translateX(85px) translateZ(-172px);
}
#content-main .map-two .area-r .box.box-4 {
  transform: translateX(133px) translateZ(-172px);
}
#content-main .map-two .area-r .box.box-4 .top {
  border: 0;
}
#content-main .map-two .area-r .box.box-altar {
  transform: translateX(191px) translateZ(-172px);
}
#content-main .map-two .area-r .box.box-altar .top {
  background-color: #c0ad7e;
}
#content-main .map-two .area-r .box.box-altar .right, #content-main .map-two .area-r .box.box-altar .left {
  background-color: #a8976e;
}
#content-main .map-two .area-r .box.box-altar .front {
  background-color: #93835e;
}
#content-main .map-two .area-r .box.box-5 {
  transform: translateX(350px) translateZ(-172px);
}
#content-main .map-two .area-r .box.box-6 {
  transform: translateX(398px) translateZ(-172px);
}
#content-main .map-two .area-r .box.box-7 {
  transform: translateX(446px) translateZ(-172px);
}
#content-main .map-two .area-main {
  left: 17px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-1052px) translateX(610px);
}
#content-main .map-two .area-main .box.box-altar {
  transform: translateX(0px) translateZ(-113px);
}
#content-main .map-two .area-main .box.box-altar .top {
  width: 169px;
  height: 206px;
  background-color: #c0ad7e;
  font-size: 50px;
  line-height: 206px;
  transform: rotate3d(1, 0, 0, -90deg) translateZ(-109px) rotateX(180deg);
}
#content-main .map-two .area-main .box.box-altar .front {
  width: 169px;
  background-color: #93835e;
  transform: rotate3d(1, 0, 0, 180deg) translateZ(-95px);
}
#content-main .map-two .area-h2 {
  left: 17px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-1047px) translateX(787px);
}
#content-main .map-two .area-h2 .box .top {
  background-color: #aaabab;
}
#content-main .map-two .area-h2 .box .right, #content-main .map-two .area-h2 .box .left {
  background-color: #9fa0a0;
}
#content-main .map-two .area-h2 .box .front {
  background-color: #939496;
}
#content-main .map-two .area-h2 .box.box-1 {
  transform: translateX(0px) translateZ(-172px);
}
#content-main .map-two .area-h2 .box.box-2 {
  transform: translateX(48px) translateZ(-172px);
}
#content-main .map-two .area-h2 .box.box-3 {
  transform: translateX(96px) translateZ(-172px);
}
#content-main .map-two .area-h2 .box.box-3 .top {
  border: 0;
}
#content-main .map-two .area-h2 .box.box-altar {
  transform: translateX(154px) translateZ(-172px);
}
#content-main .map-two .area-h2 .box.box-altar .top {
  background-color: #c0ad7e;
}
#content-main .map-two .area-h2 .box.box-altar .right, #content-main .map-two .area-h2 .box.box-altar .left {
  background-color: #a8976e;
}
#content-main .map-two .area-h2 .box.box-altar .front {
  background-color: #93835e;
}
#content-main .map-two .area-h2 .box.box-4 {
  transform: translateX(313px) translateZ(-172px);
}
#content-main .map-two .area-h2 .box.box-5 {
  transform: translateX(361px) translateZ(-172px);
}
#content-main .map-two .area-h2 .box.box-5 .top {
  border: 0;
}
#content-main .map-two .area-h2 .box.box-6 {
  transform: translateX(411px) translateZ(-57px);
}
#content-main .map-two .area-h2 .box.box-6 .top {
  border: 0;
}
#content-main .map-two .area-h2 .box.box-7 {
  transform: translateX(411px) translateZ(0px);
}
#content-main .map-two .area-h2 .box.box-7 .top {
  border: 0 solid rgba(255, 255, 255, 0.5);
  border-top-width: 2px;
}
#content-main .map-two .area-j {
  left: 246px;
  bottom: 0;
  transform-style: preserve-3d;
  transform: translateZ(-79px);
}
#content-main .map-two .area-j .area-tag {
  transform: translateZ(-420px) translateX(-53px);
}
#content-main .map-two .area-j .area-tag .top {
  background-color: #85ac33;
}
#content-main .map-two .area-j .box .front {
  background-color: #74902e;
}
#content-main .map-two .area-j .box .right, #content-main .map-two .area-j .box .left {
  background-color: #607a3d;
}
#content-main .map-two .area-j .box .top {
  background-color: #85ac33;
}
#content-main .map-two .area-j .box.box-1 {
  z-index: 6;
  transform: translateZ(-570px);
}
#content-main .map-two .area-j .box.box-1 .top {
  border: 0;
}
#content-main .map-two .area-j .box.box-2 {
  z-index: 7;
  transform: translateZ(-513px);
}
#content-main .map-two .area-j .box.box-3 {
  z-index: 8;
  transform: translateZ(-456px);
}
#content-main .map-two .area-j .box.box-4 {
  z-index: 9;
  transform: translateZ(-399px);
}
#content-main .map-two .area-j .box.box-5 {
  z-index: 10;
  transform: translateZ(-342px);
}
#content-main .map-two .area-j .box.box-5 .top {
  border: 0 solid rgba(255, 255, 255, 0.5);
  border-top-width: 2px;
}
#content-main .map-two .area-g {
  left: 1090px;
  bottom: 0;
  transform-style: preserve-3d;
  transform: translateZ(-79px);
}
#content-main .map-two .area-g .area-tag {
  transform: translateZ(-420px) translateX(91px);
}
#content-main .map-two .area-g .area-tag .top {
  background-color: #ef8258;
}
#content-main .map-two .area-g .box .front {
  background-color: #ca6a49;
}
#content-main .map-two .area-g .box .right, #content-main .map-two .area-g .box .left {
  background-color: #bf7d60;
}
#content-main .map-two .area-g .box .top {
  background-color: #ef8258;
}
#content-main .map-two .area-g .box.box-5 {
  z-index: 6;
  transform: translateZ(-570px);
}
#content-main .map-two .area-g .box.box-5 .top {
  border: 0;
}
#content-main .map-two .area-g .box.box-4 {
  z-index: 7;
  transform: translateZ(-513px);
}
#content-main .map-two .area-g .box.box-3 {
  z-index: 8;
  transform: translateZ(-456px);
}
#content-main .map-two .area-g .box.box-2 {
  z-index: 9;
  transform: translateZ(-399px);
}
#content-main .map-two .area-g .box.box-1 {
  z-index: 10;
  transform: translateZ(-342px);
}
#content-main .map-two .area-g .box.box-1 .top {
  border: 0 solid rgba(255, 255, 255, 0.5);
  border-top-width: 2px;
}
#content-main .map-two .area-k {
  left: 329px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-622px);
}
#content-main .map-two .area-k .area-tag {
  transform: translateZ(40px) translateX(168px);
}
#content-main .map-two .area-k .area-tag .top {
  background-color: #47aee0;
}
#content-main .map-two .area-k .box .top {
  background-color: #47aee0;
}
#content-main .map-two .area-k .box .right, #content-main .map-two .area-k .box .left {
  background-color: #4386ca;
}
#content-main .map-two .area-k .box .front {
  background-color: #3b8fc8;
}
#content-main .map-two .area-k .box.box-3 {
  transform: translateX(0px);
}
#content-main .map-two .area-k .box.box-2 {
  transform: translateX(48px);
}
#content-main .map-two .area-k .box.box-1 {
  transform: translateX(96px);
}
#content-main .map-two .area-f {
  left: 946px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-622px);
}
#content-main .map-two .area-f .area-tag {
  transform: translateZ(40px) translateX(-66px);
}
#content-main .map-two .area-f .area-tag .top {
  background-color: #e56a85;
}
#content-main .map-two .area-f .box .top {
  background-color: #e56a85;
}
#content-main .map-two .area-f .box .right, #content-main .map-two .area-f .box .left {
  background-color: #b5476b;
}
#content-main .map-two .area-f .box .front {
  background-color: #c8556d;
}
#content-main .map-two .area-f .box.box-3 {
  transform: translateX(0px);
}
#content-main .map-two .area-f .box.box-2 {
  transform: translateX(48px);
}
#content-main .map-two .area-f .box.box-1 {
  transform: translateX(96px);
}
#content-main .map-two .area-i {
  left: 329px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-450px);
}
#content-main .map-two .area-i .area-tag {
  transform: translateZ(40px) translateX(297px);
}
#content-main .map-two .area-i .area-tag .top {
  background-color: #6ca690;
}
#content-main .map-two .area-i .box .top {
  background-color: #6ca690;
}
#content-main .map-two .area-i .box .right, #content-main .map-two .area-i .box .left {
  background-color: #b2c3b4;
}
#content-main .map-two .area-i .box .front {
  background-color: #659681;
}
#content-main .map-two .area-i .box.box-1 {
  transform: translateX(0px);
}
#content-main .map-two .area-i .box.box-2 {
  transform: translateX(48px);
}
#content-main .map-two .area-i .box.box-3 {
  transform: translateX(96px);
}
#content-main .map-two .area-i .box.box-4 {
  transform: translateX(144px);
}
#content-main .map-two .area-i .box.box-5 {
  transform: translateX(192px);
}
#content-main .map-two .area-i .box.box-6 {
  transform: translateX(240px);
}
#content-main .map-two .area-h {
  left: 802px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-450px);
}
#content-main .map-two .area-h .area-tag {
  transform: translateZ(40px) translateX(-55px);
}
#content-main .map-two .area-h .area-tag .top {
  background-color: #9895b2;
}
#content-main .map-two .area-h .box .top {
  background-color: #9895b2;
}
#content-main .map-two .area-h .box .right, #content-main .map-two .area-h .box .left {
  background-color: #777790;
}
#content-main .map-two .area-h .box .front {
  background-color: #84809c;
}
#content-main .map-two .area-h .box.box-1 {
  transform: translateX(0px);
}
#content-main .map-two .area-h .box.box-2 {
  transform: translateX(48px);
}
#content-main .map-two .area-h .box.box-3 {
  transform: translateX(96px);
}
#content-main .map-two .area-h .box.box-4 {
  transform: translateX(144px);
}
#content-main .map-two .area-h .box.box-5 {
  transform: translateX(192px);
}
#content-main .map-two .area-h .box.box-6 {
  transform: translateX(240px);
}
#content-main .map-one .area-i {
  left: 1324px;
  bottom: 0;
  transform-style: preserve-3d;
  transform: translateZ(-963px);
}
#content-main .map-one .area-i .box .top {
  background-color: #ea9a9b;
}
#content-main .map-one .area-i .box .right, #content-main .map-one .area-i .box .left {
  background-color: #d0818b;
}
#content-main .map-one .area-i .box .front {
  background-color: #e4818b;
}
#content-main .map-one .area-i .box.box-1 {
  transform: translateX(-109px);
}
#content-main .map-one .area-i .box.box-2 {
  transform: translateX(-61px);
}
#content-main .map-one .area-i .box.box-3 {
  transform: translateX(-13px);
}
#content-main .map-one .area-i .box.box-4 {
  transform: translateX(35px);
}
#content-main .map-one .area-i2 {
  left: 1324px;
  bottom: -1px;
  transform-style: preserve-3d;
  transform: translateZ(-80px);
}
#content-main .map-one .area-i2 .area-tag {
  transform: translateZ(-306px) translateX(87px);
}
#content-main .map-one .area-i2 .area-tag .top {
  background-color: #ea9a9b;
}
#content-main .map-one .area-i2 .box .top {
  background-color: #ea9a9b;
}
#content-main .map-one .area-i2 .box .right, #content-main .map-one .area-i2 .box .left {
  background-color: #d0818b;
}
#content-main .map-one .area-i2 .box .front {
  background-color: #e4818b;
}
#content-main .map-one .area-i2 .box.box-19 {
  z-index: 16;
}
#content-main .map-one .area-i2 .box.box-18 {
  z-index: 15;
  transform: translateZ(-57px);
}
#content-main .map-one .area-i2 .box.box-17 {
  z-index: 14;
  transform: translateZ(-114px);
}
#content-main .map-one .area-i2 .box.box-16 {
  z-index: 13;
  transform: translateZ(-171px);
}
#content-main .map-one .area-i2 .box.box-15 {
  z-index: 12;
  transform: translateZ(-228px);
}
#content-main .map-one .area-i2 .box.box-14 {
  z-index: 11;
  transform: translateZ(-285px);
}
#content-main .map-one .area-i2 .box.box-13 {
  z-index: 10;
  transform: translateZ(-342px);
}
#content-main .map-one .area-i2 .box.box-12 {
  z-index: 9;
  transform: translateZ(-399px);
}
#content-main .map-one .area-i2 .box.box-11 {
  z-index: 8;
  transform: translateZ(-456px);
}
#content-main .map-one .area-i2 .box.box-10 {
  z-index: 7;
  transform: translateZ(-513px);
}
#content-main .map-one .area-i2 .box.box-9 {
  z-index: 6;
  transform: translateZ(-570px);
}
#content-main .map-one .area-i2 .box.box-8 {
  z-index: 5;
  transform: translateZ(-627px);
}
#content-main .map-one .area-i2 .box.box-7 {
  z-index: 4;
  transform: translateZ(-684px);
}
#content-main .map-one .area-i2 .box.box-6 {
  z-index: 3;
  transform: translateZ(-741px);
}
#content-main .map-one .area-i2 .box.box-5 {
  z-index: 2;
  transform: translateZ(-798px);
}
#content-main .map-one .area-i3 {
  left: 1023px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(5px);
}
#content-main .map-one .area-i3 .area-tag {
  transform: translateZ(-65px) translateX(111px);
}
#content-main .map-one .area-i3 .area-tag .top {
  background-color: #ea9a9b;
}
#content-main .map-one .area-i3 .box .top {
  background-color: #ea9a9b;
}
#content-main .map-one .area-i3 .box .right, #content-main .map-one .area-i3 .box .left {
  background-color: #d0818b;
}
#content-main .map-one .area-i3 .box .front {
  background-color: #e4818b;
}
#content-main .map-one .area-i3 .box.box-27 {
  transform: translateX(0px);
}
#content-main .map-one .area-i3 .box.box-26 {
  transform: translateX(48px);
}
#content-main .map-one .area-i3 .box.box-25 {
  transform: translateX(96px);
}
#content-main .map-one .area-i3 .box.box-24 {
  transform: translateX(144px);
}
#content-main .map-one .area-i3 .box.box-23 {
  transform: translateX(192px);
}
#content-main .map-one .area-i3 .box.box-22 {
  transform: translateX(240px);
}
#content-main .map-one .area-i3 .box.box-21 {
  transform: translateX(288px);
}
#content-main .map-one .area-i3 .box.box-20 {
  transform: translateX(336px);
}
#content-main .map-one .area-j {
  left: 545px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(5px);
}
#content-main .map-one .area-j .area-tag {
  transform: translateZ(-65px) translateX(144px);
}
#content-main .map-one .area-j .area-tag .top {
  background-color: #9895b2;
}
#content-main .map-one .area-j .box .top {
  background-color: #9895b2;
}
#content-main .map-one .area-j .box .front {
  background-color: #84809c;
}
#content-main .map-one .area-j .box.box-7 {
  transform: translateX(0px);
}
#content-main .map-one .area-j .box.box-6 {
  transform: translateX(48px);
}
#content-main .map-one .area-j .box.box-5 {
  transform: translateX(96px);
}
#content-main .map-one .area-j .box.box-4 {
  transform: translateX(144px);
}
#content-main .map-one .area-j .box.box-3 {
  transform: translateX(192px);
}
#content-main .map-one .area-j .box.box-2 {
  transform: translateX(240px);
}
#content-main .map-one .area-j .box.box-1 {
  transform: translateX(288px);
}
#content-main .map-one .area-s {
  left: 17px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(5px);
}
#content-main .map-one .area-s .area-tag {
  transform: translateZ(-65px) translateX(191px);
}
#content-main .map-one .area-s .area-tag .top {
  background-color: #cace5d;
}
#content-main .map-one .area-s .box .front {
  background-color: #a0a449;
}
#content-main .map-one .area-s .box .right, #content-main .map-one .area-s .box .left {
  background-color: #b2b752;
}
#content-main .map-one .area-s .box .top {
  background-color: #cace5d;
}
#content-main .map-one .area-s .box.box-8 {
  transform: translateX(0px);
}
#content-main .map-one .area-s .box.box-7 {
  transform: translateX(48px);
}
#content-main .map-one .area-s .box.box-6 {
  transform: translateX(96px);
}
#content-main .map-one .area-s .box.box-5 {
  transform: translateX(144px);
}
#content-main .map-one .area-s .box.box-4 {
  transform: translateX(192px);
}
#content-main .map-one .area-s .box.box-3 {
  transform: translateX(240px);
}
#content-main .map-one .area-s .box.box-2 {
  transform: translateX(288px);
}
#content-main .map-one .area-s .box.box-1 {
  transform: translateX(336px);
}
#content-main .map-one .area-s2 {
  left: 17px;
  bottom: -1px;
  transform-style: preserve-3d;
  transform: translateZ(-80px);
}
#content-main .map-one .area-s2 .area-tag {
  transform: translateZ(-319px) translateX(-50px);
}
#content-main .map-one .area-s2 .area-tag .top {
  background-color: #cace5d;
}
#content-main .map-one .area-s2 .box .front {
  background-color: #a0a449;
}
#content-main .map-one .area-s2 .box .right, #content-main .map-one .area-s2 .box .left {
  background-color: #b2b752;
}
#content-main .map-one .area-s2 .box .top {
  background-color: #cace5d;
}
#content-main .map-one .area-s2 .box.box-9 {
  z-index: 16;
}
#content-main .map-one .area-s2 .box.box-10 {
  z-index: 15;
  transform: translateZ(-57px);
}
#content-main .map-one .area-s2 .box.box-11 {
  z-index: 14;
  transform: translateZ(-114px);
}
#content-main .map-one .area-s2 .box.box-12 {
  z-index: 13;
  transform: translateZ(-171px);
}
#content-main .map-one .area-s2 .box.box-13 {
  z-index: 12;
  transform: translateZ(-228px);
}
#content-main .map-one .area-s2 .box.box-14 {
  z-index: 11;
  transform: translateZ(-285px);
}
#content-main .map-one .area-s2 .box.box-15 {
  z-index: 10;
  transform: translateZ(-342px);
}
#content-main .map-one .area-s2 .box.box-16 {
  z-index: 9;
  transform: translateZ(-399px);
}
#content-main .map-one .area-s2 .box.box-17 {
  z-index: 8;
  transform: translateZ(-456px);
}
#content-main .map-one .area-s2 .box.box-18 {
  z-index: 7;
  transform: translateZ(-513px);
}
#content-main .map-one .area-s2 .box.box-19 {
  z-index: 6;
  transform: translateZ(-570px);
}
#content-main .map-one .area-s2 .box.box-20 {
  z-index: 5;
  transform: translateZ(-627px);
}
#content-main .map-one .area-s2 .box.box-21 {
  z-index: 4;
  transform: translateZ(-684px);
}
#content-main .map-one .area-s2 .box.box-22 {
  z-index: 3;
  transform: translateZ(-741px);
}
#content-main .map-one .area-s2 .box.box-23 {
  z-index: 2;
  transform: translateZ(-798px);
}
#content-main .map-one .area-s3 {
  left: 17px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-963px);
}
#content-main .map-one .area-s3 .box .front {
  background-color: #a0a449;
}
#content-main .map-one .area-s3 .box .right, #content-main .map-one .area-s3 .box .left {
  background-color: #b2b752;
}
#content-main .map-one .area-s3 .box .top {
  background-color: #cace5d;
}
#content-main .map-one .area-s3 .box.box-24 {
  transform: translateX(0px);
}
#content-main .map-one .area-s3 .box.box-25 {
  transform: translateX(48px);
}
#content-main .map-one .area-s3 .box.box-26 {
  transform: translateX(96px);
}
#content-main .map-one .area-s3 .box.box-27 {
  transform: translateX(144px);
}
#content-main .map-one .area-r {
  left: 17px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-1047px) translateX(109px);
}
#content-main .map-one .area-r .area-tag {
  transform: translateZ(-95px) translateX(5px);
}
#content-main .map-one .area-r .area-tag .top {
  width: 68px;
  height: 65px;
  background-color: #d0a862;
  font-size: 30px;
  line-height: 65px;
}
#content-main .map-one .area-r .box .top {
  background-color: #d0a862;
}
#content-main .map-one .area-r .box .right, #content-main .map-one .area-r .box .left {
  background-color: #a07035;
}
#content-main .map-one .area-r .box .front {
  background-color: #b6884a;
}
#content-main .map-one .area-r .box.box-1 {
  transform: translateZ(0px);
}
#content-main .map-one .area-r .box.box-2 {
  transform: translateZ(-57px);
}
#content-main .map-one .area-r .box.box-3 {
  transform: translateX(85px) translateZ(-172px);
}
#content-main .map-one .area-r .box.box-4 {
  transform: translateX(133px) translateZ(-172px);
}
#content-main .map-one .area-r .box.box-4 .top {
  border: 0;
}
#content-main .map-one .area-r .box.box-altar {
  transform: translateX(191px) translateZ(-172px);
}
#content-main .map-one .area-r .box.box-altar .top {
  background-color: #c0ad7e;
  font-size: 30px;
  width: 100px;
}
#content-main .map-one .area-r .box.box-altar .right, #content-main .map-one .area-r .box.box-altar .left {
  background-color: #a8976e;
}
#content-main .map-one .area-r .box.box-altar .right {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(43px);
}
#content-main .map-one .area-r .box.box-altar .front {
  background-color: #93835e;
  width: 100px;
}
#content-main .map-one .area-r .box.box-5 {
  transform: translateX(302px) translateZ(-172px);
}
#content-main .map-one .area-r .box.box-6 {
  transform: translateX(350px) translateZ(-172px);
}
#content-main .map-one .area-r .box.box-7 {
  transform: translateX(398px) translateZ(-172px);
}
#content-main .map-one .area-r .box.box-8 {
  transform: translateX(446px) translateZ(-172px);
}
#content-main .map-one .area-main {
  left: 17px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-1052px) translateX(610px);
}
#content-main .map-one .area-main .box.box-altar {
  transform: translateX(0px) translateZ(-113px);
}
#content-main .map-one .area-main .box.box-altar .top {
  width: 169px;
  height: 206px;
  background-color: #c0ad7e;
  font-size: 50px;
  line-height: 206px;
  transform: rotate3d(1, 0, 0, -90deg) translateZ(-109px) rotateX(180deg);
}
#content-main .map-one .area-main .box.box-altar .front {
  width: 169px;
  background-color: #93835e;
  transform: rotate3d(1, 0, 0, 180deg) translateZ(-95px);
}
#content-main .map-one .area-h {
  left: 17px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-1047px) translateX(787px);
}
#content-main .map-one .area-h .area-tag {
  transform: translateZ(-95px) translateX(420px);
}
#content-main .map-one .area-h .area-tag .top {
  width: 68px;
  height: 65px;
  background-color: #f5a32d;
  font-size: 30px;
  line-height: 65px;
}
#content-main .map-one .area-h .box .top {
  background-color: #f5a32d;
}
#content-main .map-one .area-h .box .right, #content-main .map-one .area-h .box .left {
  background-color: #c3752d;
}
#content-main .map-one .area-h .box .front {
  background-color: #e2832d;
}
#content-main .map-one .area-h .box.box-1 {
  transform: translateX(0px) translateZ(-172px);
}
#content-main .map-one .area-h .box.box-2 {
  transform: translateX(48px) translateZ(-172px);
}
#content-main .map-one .area-h .box.box-3 {
  transform: translateX(96px) translateZ(-172px);
}
#content-main .map-one .area-h .box.box-altar {
  transform: translateX(203px) translateZ(-172px);
}
#content-main .map-one .area-h .box.box-altar .top {
  background-color: #c0ad7e;
  font-size: 30px;
  width: 100px;
}
#content-main .map-one .area-h .box.box-altar .right, #content-main .map-one .area-h .box.box-altar .left {
  background-color: #a8976e;
}
#content-main .map-one .area-h .box.box-altar .right {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(-46px);
}
#content-main .map-one .area-h .box.box-altar .front {
  background-color: #93835e;
  width: 100px;
}
#content-main .map-one .area-h .box.box-4 {
  transform: translateX(144px) translateZ(-172px);
}
#content-main .map-one .area-h .box.box-4 .top {
  border: 0;
}
#content-main .map-one .area-h .box.box-5 {
  transform: translateX(313px) translateZ(-172px);
}
#content-main .map-one .area-h .box.box-6 {
  transform: translateX(361px) translateZ(-172px);
}
#content-main .map-one .area-h .box.box-6 .top {
  border: 0;
}
#content-main .map-one .area-h .box.box-7 {
  transform: translateX(411px) translateZ(-57px);
}
#content-main .map-one .area-h .box.box-7 .top {
  border: 0;
}
#content-main .map-one .area-h .box.box-8 {
  transform: translateX(411px) translateZ(0px);
}
#content-main .map-one .area-h .box.box-8 .top {
  border: 0 solid rgba(255, 255, 255, 0.5);
  border-top-width: 2px;
}
#content-main .map-one .area-n {
  left: 246px;
  bottom: 0;
  transform-style: preserve-3d;
  transform: translateZ(-79px);
}
#content-main .map-one .area-n .area-tag {
  transform: translateZ(-420px) translateX(-53px);
}
#content-main .map-one .area-n .area-tag .top {
  background-color: #687d54;
}
#content-main .map-one .area-n .box .front {
  background-color: #57644b;
}
#content-main .map-one .area-n .box .right, #content-main .map-one .area-n .box .left {
  background-color: #57644b;
}
#content-main .map-one .area-n .box .top {
  background-color: #687d54;
}
#content-main .map-one .area-n .box.box-1 {
  z-index: 6;
  transform: translateZ(-570px);
}
#content-main .map-one .area-n .box.box-1 .top {
  border: 0;
}
#content-main .map-one .area-n .box.box-2 {
  z-index: 7;
  transform: translateZ(-513px);
}
#content-main .map-one .area-n .box.box-3 {
  z-index: 8;
  transform: translateZ(-456px);
}
#content-main .map-one .area-n .box.box-4 {
  z-index: 9;
  transform: translateZ(-399px);
}
#content-main .map-one .area-n .box.box-5 {
  z-index: 10;
  transform: translateZ(-342px);
}
#content-main .map-one .area-n .box.box-5 .top {
  border: 0 solid rgba(255, 255, 255, 0.5);
  border-top-width: 2px;
}
#content-main .map-one .area-d {
  left: 1090px;
  bottom: 0;
  transform-style: preserve-3d;
  transform: translateZ(-79px);
}
#content-main .map-one .area-d .area-tag {
  transform: translateZ(-420px) translateX(91px);
}
#content-main .map-one .area-d .area-tag .top {
  background-color: #ef8258;
}
#content-main .map-one .area-d .box .front {
  background-color: #ca6a49;
}
#content-main .map-one .area-d .box .right, #content-main .map-one .area-d .box .left {
  background-color: #b76a49;
}
#content-main .map-one .area-d .box .top {
  background-color: #ef8258;
}
#content-main .map-one .area-d .box.box-5 {
  z-index: 6;
  transform: translateZ(-570px);
}
#content-main .map-one .area-d .box.box-5 .top {
  border: 0;
}
#content-main .map-one .area-d .box.box-4 {
  z-index: 7;
  transform: translateZ(-513px);
}
#content-main .map-one .area-d .box.box-3 {
  z-index: 8;
  transform: translateZ(-456px);
}
#content-main .map-one .area-d .box.box-2 {
  z-index: 9;
  transform: translateZ(-399px);
}
#content-main .map-one .area-d .box.box-1 {
  z-index: 10;
  transform: translateZ(-342px);
}
#content-main .map-one .area-d .box.box-1 .top {
  border: 0 solid rgba(255, 255, 255, 0.5);
  border-top-width: 2px;
}
#content-main .map-one .area-o {
  left: 329px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-622px);
}
#content-main .map-one .area-o .area-tag {
  transform: translateZ(40px) translateX(297px);
}
#content-main .map-one .area-o .area-tag .top {
  background-color: #4b7184;
}
#content-main .map-one .area-o .box .top {
  background-color: #4b7184;
}
#content-main .map-one .area-o .box .right, #content-main .map-one .area-o .box .left {
  background-color: #435260;
}
#content-main .map-one .area-o .box .front {
  background-color: #395974;
}
#content-main .map-one .area-o .box.box-5 {
  transform: translateX(0px);
}
#content-main .map-one .area-o .box.box-4 {
  transform: translateX(48px);
}
#content-main .map-one .area-o .box.box-3 {
  transform: translateX(96px);
}
#content-main .map-one .area-o .box.box-2 {
  transform: translateX(144px);
}
#content-main .map-one .area-o .box.box-1 {
  transform: translateX(192px);
}
#content-main .map-one .area-e {
  left: 946px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-622px);
}
#content-main .map-one .area-e .area-tag {
  transform: translateZ(40px) translateX(-199px);
}
#content-main .map-one .area-e .area-tag .top {
  background-color: #e56a85;
}
#content-main .map-one .area-e .box .top {
  background-color: #e56a85;
}
#content-main .map-one .area-e .box .right, #content-main .map-one .area-e .box .left {
  background-color: #b5476b;
}
#content-main .map-one .area-e .box .front {
  background-color: #c8556d;
}
#content-main .map-one .area-e .box.box-6 {
  transform: translateX(-144px);
}
#content-main .map-one .area-e .box.box-5 {
  transform: translateX(-96px);
}
#content-main .map-one .area-e .box.box-4 {
  transform: translateX(-48px);
}
#content-main .map-one .area-e .box.box-3 {
  transform: translateX(0px);
}
#content-main .map-one .area-e .box.box-2 {
  transform: translateX(48px);
}
#content-main .map-one .area-e .box.box-1 {
  transform: translateX(96px);
}
#content-main .map-one .area-m {
  left: 329px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-450px);
}
#content-main .map-one .area-m .area-tag {
  transform: translateZ(40px) translateX(297px);
}
#content-main .map-one .area-m .area-tag .top {
  background-color: #c0d4c3;
}
#content-main .map-one .area-m .box .top {
  background-color: #c0d4c3;
}
#content-main .map-one .area-m .box .right, #content-main .map-one .area-m .box .left {
  background-color: #b3c5b6;
}
#content-main .map-one .area-m .box .front {
  background-color: #9fb0a3;
}
#content-main .map-one .area-m .box.box-1 {
  transform: translateX(0px);
}
#content-main .map-one .area-m .box.box-2 {
  transform: translateX(48px);
}
#content-main .map-one .area-m .box.box-3 {
  transform: translateX(96px);
}
#content-main .map-one .area-m .box.box-4 {
  transform: translateX(144px);
}
#content-main .map-one .area-m .box.box-5 {
  transform: translateX(192px);
}
#content-main .map-one .area-m .box.box-6 {
  transform: translateX(240px);
}
#content-main .map-one .area-c {
  left: 802px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-450px);
}
#content-main .map-one .area-c .area-tag {
  transform: translateZ(40px) translateX(-55px);
}
#content-main .map-one .area-c .area-tag .top {
  background-color: #85ac33;
}
#content-main .map-one .area-c .box .front {
  background-color: #74902e;
}
#content-main .map-one .area-c .box .right, #content-main .map-one .area-c .box .left {
  background-color: #607a3d;
}
#content-main .map-one .area-c .box .top {
  background-color: #85ac33;
}
#content-main .map-one .area-c .box.box-1 {
  transform: translateX(0px);
}
#content-main .map-one .area-c .box.box-2 {
  transform: translateX(48px);
}
#content-main .map-one .area-c .box.box-3 {
  transform: translateX(96px);
}
#content-main .map-one .area-c .box.box-4 {
  transform: translateX(144px);
}
#content-main .map-one .area-c .box.box-5 {
  transform: translateX(192px);
}
#content-main .map-one .area-c .box.box-6 {
  transform: translateX(240px);
}
#content-main .map-one .area-p {
  left: 281px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-790px);
}
#content-main .map-one .area-p .area-tag {
  transform: translateZ(40px) translateX(345px);
}
#content-main .map-one .area-p .area-tag .top {
  background-color: #6ca690;
}
#content-main .map-one .area-p .box .top {
  background-color: #6ca690;
}
#content-main .map-one .area-p .box .right, #content-main .map-one .area-p .box .left {
  background-color: #4c8176;
}
#content-main .map-one .area-p .box .front {
  background-color: #659681;
}
#content-main .map-one .area-p .box.box-1 {
  transform: translateX(0px);
}
#content-main .map-one .area-p .box.box-2 {
  transform: translateX(48px);
}
#content-main .map-one .area-p .box.box-3 {
  transform: translateX(96px);
}
#content-main .map-one .area-p .box.box-4 {
  transform: translateX(144px);
}
#content-main .map-one .area-p .box.box-5 {
  transform: translateX(192px);
}
#content-main .map-one .area-p .box.box-6 {
  transform: translateX(240px);
}
#content-main .map-one .area-p .box.box-7 {
  transform: translateX(288px);
}
#content-main .map-one .area-q {
  left: 281px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-902px);
}
#content-main .map-one .area-q .area-tag {
  transform: translateZ(40px) translateX(345px);
}
#content-main .map-one .area-q .area-tag .top {
  background-color: #6693b2;
}
#content-main .map-one .area-q .box .top {
  background-color: #6693b2;
}
#content-main .map-one .area-q .box .right, #content-main .map-one .area-q .box .left {
  background-color: #4b6b80;
}
#content-main .map-one .area-q .box .front {
  background-color: #5a7d95;
}
#content-main .map-one .area-q .box.box-7 {
  transform: translateX(0px);
}
#content-main .map-one .area-q .box.box-6 {
  transform: translateX(48px);
}
#content-main .map-one .area-q .box.box-5 {
  transform: translateX(96px);
}
#content-main .map-one .area-q .box.box-4 {
  transform: translateX(144px);
}
#content-main .map-one .area-q .box.box-3 {
  transform: translateX(192px);
}
#content-main .map-one .area-q .box.box-2 {
  transform: translateX(240px);
}
#content-main .map-one .area-q .box.box-1 {
  transform: translateX(288px);
}
#content-main .map-one .area-f {
  left: 802px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-790px);
}
#content-main .map-one .area-f .area-tag {
  transform: translateZ(40px) translateX(-55px);
}
#content-main .map-one .area-f .area-tag .top {
  background-color: #8873a0;
}
#content-main .map-one .area-f .box .top {
  background-color: #8873a0;
}
#content-main .map-one .area-f .box .right, #content-main .map-one .area-f .box .left {
  background-color: #68557f;
}
#content-main .map-one .area-f .box .front {
  background-color: #68557f;
}
#content-main .map-one .area-f .box.box-1 {
  transform: translateX(0px);
}
#content-main .map-one .area-f .box.box-2 {
  transform: translateX(48px);
}
#content-main .map-one .area-f .box.box-3 {
  transform: translateX(96px);
}
#content-main .map-one .area-f .box.box-4 {
  transform: translateX(144px);
}
#content-main .map-one .area-f .box.box-5 {
  transform: translateX(192px);
}
#content-main .map-one .area-f .box.box-6 {
  transform: translateX(240px);
}
#content-main .map-one .area-f .box.box-7 {
  transform: translateX(288px);
}
#content-main .map-one .area-g {
  left: 802px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-902px);
}
#content-main .map-one .area-g .area-tag {
  transform: translateZ(40px) translateX(-55px);
}
#content-main .map-one .area-g .area-tag .top {
  background-color: #c2c3c4;
}
#content-main .map-one .area-g .box .top {
  background-color: #c2c3c4;
}
#content-main .map-one .area-g .box .right, #content-main .map-one .area-g .box .left {
  background-color: #aaabab;
}
#content-main .map-one .area-g .box .front {
  background-color: #5a7d95;
}
#content-main .map-one .area-g .box.box-7 {
  transform: translateX(0px);
}
#content-main .map-one .area-g .box.box-6 {
  transform: translateX(48px);
}
#content-main .map-one .area-g .box.box-5 {
  transform: translateX(96px);
}
#content-main .map-one .area-g .box.box-4 {
  transform: translateX(144px);
}
#content-main .map-one .area-g .box.box-3 {
  transform: translateX(192px);
}
#content-main .map-one .area-g .box.box-2 {
  transform: translateX(240px);
}
#content-main .map-one .area-g .box.box-1 {
  transform: translateX(288px);
}
#content-main .map-one .area-k {
  left: 377px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-181px);
}
#content-main .map-one .area-k .area-tag {
  transform: translateZ(40px) translateX(-51px);
}
#content-main .map-one .area-k .area-tag .top {
  background-color: #a9d1ec;
}
#content-main .map-one .area-k .box .top {
  background-color: #a9d1ec;
}
#content-main .map-one .area-k .box .right, #content-main .map-one .area-k .box .left {
  background-color: #90b3ca;
}
#content-main .map-one .area-k .box .front {
  background-color: #89abc1;
}
#content-main .map-one .area-k .box.box-1 {
  transform: translateX(0px);
}
#content-main .map-one .area-k .box.box-2 {
  transform: translateX(48px);
}
#content-main .map-one .area-k .box.box-3 {
  transform: translateX(96px);
}
#content-main .map-one .area-k .box.box-4 {
  transform: translateX(144px);
}
#content-main .map-one .area-k .box.box-5 {
  transform: translateX(192px);
}
#content-main .map-one .area-l {
  left: 281px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-295px);
}
#content-main .map-one .area-l .area-tag {
  transform: translateZ(40px) translateX(45px);
}
#content-main .map-one .area-l .area-tag .top {
  background-color: #008a8c;
}
#content-main .map-one .area-l .box .top {
  background-color: #008a8c;
}
#content-main .map-one .area-l .box .right, #content-main .map-one .area-l .box .left {
  background-color: #007375;
}
#content-main .map-one .area-l .box .front {
  background-color: #007375;
}
#content-main .map-one .area-l .box.box-5 {
  transform: translateX(96px);
}
#content-main .map-one .area-l .box.box-4 {
  transform: translateX(144px);
}
#content-main .map-one .area-l .box.box-3 {
  transform: translateX(192px);
}
#content-main .map-one .area-l .box.box-2 {
  transform: translateX(240px);
}
#content-main .map-one .area-l .box.box-1 {
  transform: translateX(288px);
}
#content-main .map-one .area-a {
  left: 802px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-181px);
}
#content-main .map-one .area-a .area-tag {
  transform: translateZ(40px) translateX(245px);
}
#content-main .map-one .area-a .area-tag .top {
  background-color: #fabe00;
}
#content-main .map-one .area-a .box .top {
  background-color: #fabe00;
}
#content-main .map-one .area-a .box .right, #content-main .map-one .area-a .box .left {
  background-color: #d77700;
}
#content-main .map-one .area-a .box .front {
  background-color: #eb9e00;
}
#content-main .map-one .area-a .box.box-1 {
  transform: translateX(0px);
}
#content-main .map-one .area-a .box.box-2 {
  transform: translateX(48px);
}
#content-main .map-one .area-a .box.box-3 {
  transform: translateX(96px);
}
#content-main .map-one .area-a .box.box-4 {
  transform: translateX(144px);
}
#content-main .map-one .area-a .box.box-5 {
  transform: translateX(192px);
}
#content-main .map-one .area-b {
  left: 706px;
  bottom: 0;
  z-index: 99;
  transform-style: preserve-3d;
  transform: translateZ(-295px);
}
#content-main .map-one .area-b .area-tag {
  transform: translateZ(40px) translateX(341px);
}
#content-main .map-one .area-b .area-tag .top {
  background-color: #47aee0;
}
#content-main .map-one .area-b .box .top {
  background-color: #47aee0;
}
#content-main .map-one .area-b .box .right, #content-main .map-one .area-b .box .left {
  background-color: #3791e0;
}
#content-main .map-one .area-b .box .front {
  background-color: #3791e0;
}
#content-main .map-one .area-b .box.box-5 {
  transform: translateX(96px);
}
#content-main .map-one .area-b .box.box-4 {
  transform: translateX(144px);
}
#content-main .map-one .area-b .box.box-3 {
  transform: translateX(192px);
}
#content-main .map-one .area-b .box.box-2 {
  transform: translateX(240px);
}
#content-main .map-one .area-b .box.box-1 {
  transform: translateX(288px);
}

.bs-popover-top {
  margin-bottom: 23px;
}

.locate {
  z-index: 100;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  background-color: #fff;
  background-size: 100%;
  color: #000;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(15px);
  animation: 0.6s locate-bubble forwards;
}
.locate .article {
  position: relative;
  z-index: 100;
  opacity: 0;
  animation: 0.5s locate-article 0.9s forwards;
}
.locate .article img {
  width: 28px;
}
.locate .article .level {
  display: inline-block;
  width: 29px;
  height: 29px;
  margin-top: 7px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  transform: translateY(-3px);
}
.locate:after {
  content: "▼";
  position: absolute;
  left: calc(50% - 43.2px);
  bottom: -25px;
  z-index: -1;
  color: #fff;
  font-size: 90px;
  animation: 0.3s locate-after 0.6s forwards;
}

.locate.down {
  animation: 0.6s locate-bubble-down forwards;
}
.locate.down .article {
  animation: 0.5s locate-article-down 0.9s forwards;
}
.locate.down:after {
  content: "▲";
  top: -40px;
  bottom: 0;
  animation: 0.3s locate-after-down 0.6s forwards;
}

@keyframes locate-bubble {
  0% {
    opacity: 0;
    transform: scale(0.25) translateY(300px);
  }
  40% {
    opacity: 0.5;
    transform: scale(0.25) translateY(0px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}
@keyframes locate-after {
  0% {
    bottom: -25px;
  }
  100% {
    bottom: -65px;
  }
}
@keyframes locate-article {
  0% {
    opacity: 0;
    transform: translateY(-35px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes locate-bubble-down {
  0% {
    opacity: 0;
    transform: scale(0.25) translateY(0px);
  }
  40% {
    opacity: 0.5;
    transform: scale(0.25) translateY(300px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(300px);
  }
}
@keyframes locate-after-down {
  0% {
    top: -40px;
  }
  100% {
    top: -70px;
  }
}
@keyframes locate-article-down {
  0% {
    opacity: 0;
    transform: translateY(35px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}